# Understanding Data Tahun 2018

In [2]:
import pandas as pd

df_2018 = pd.read_excel("MasterDataTracer.xlsx", sheet_name=0)

In [3]:
df_2018.drop(df_2018.iloc[:,88:301], inplace=True, axis=1)

df_2018.head()

,NIM,Nama,Jenis Kelamin,Angkatan,IP,Fakultas/Sekolah,Program Studi,Bulan dan Tahun Wisuda,Kota,Provinsi (untuk luar Indonesia cukup tuliskan nama negara),...,Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [Other (describe)],"Setelah lulus dari perguruan tinggi, apakah Anda mengambil kursus atau pendidikan tambahan?","Jenis kursus apa yang Anda ambil? [piranti lunak aplikasi (Autocad, Oracle, SAS, dll)]",Jenis kursus apa yang Anda ambil? [bahasa inggris],Jenis kursus apa yang Anda ambil? [bahasa asing lainnya],Jenis kursus apa yang Anda ambil? [kesenian dan/atau keterampilan],Jenis kursus apa yang Anda ambil? [olah raga],Jenis kursus apa yang Anda ambil? [sertifikasi keahlian bidang keilmuan],Jenis kursus apa yang Anda ambil? [ilmu agama],Jenis kursus apa yang Anda ambil? [Other (describe)]
0,NaN,Adam Nurilman Dwikadartomo,Pria,2011,3.30,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,NaN,Depok,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Adelita Febiola,Wanita,2011,3.50,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,NaN,Bekasi Selatan,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Adhietya Orlandho Putra Sunarm,Pria,2011,3.29,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,NaN,Bandung,Jawa Barat,...,NaN,ya,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
3,NaN,Adlan Praido,Pria,2011,3.39,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,NaN,Tangerang Selatan,Banten,...,0,ya,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0
4,NaN,Adrianti Varadina,Wanita,2011,3.14,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,NaN,Bandung,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Fix NIM Column

kode_jurusan = {
  
  "Matematika": 10111000,
  "Fisika": 10211000,
  "Astronomi": 10311000,
  "Mikrobiologi": 10411000,
  "Kimia": 10511000,
  "Biologi": 10611000,
  "Sains dan Teknologi Farmasi": 10711000,
  "Aktuaria": 10811000,
  "Rekayasa Hayati": 11211000,
  "Rekayasa Pertanian": 11411000,
  "Rekayasa Kehutanan": 11511000,
  "Farmasi Klinik dan Komunitas": 11611000,
  "Teknologi Pasca Panen": 11911000,
  "Teknik Geologi": 12011000,
  "Teknik Pertambangan": 12111000,
  "Teknik Perminyakan": 12211000,
  "Teknik Geofisika": 12311000,
  "Teknik Metalurgi": 12511000,
  "Meteorologi": 12811000,
  "Oseanografi": 12911000,
  "Teknik Kimia": 13011000,
  "Teknik Mesin": 13111000,
  "Teknik Elektro": 13211000,
  "Teknik Fisika": 13311000,
  "Teknik Industri": 13411000,
  "Teknik Informatika": 13511000,
  "Teknik Dirgantara": 13611000,
  "Teknik Material": 13711000,
  "Teknik Pangan": 14311000,
  "Manajemen Rekayasa Industri": 14411000,
  "Teknik Bioenergi dan Kemurgi": 14511000,
  "Teknik Sipil": 15011000,
  "Teknik Geodesi dan Geomatika": 15111000,
  "Arsitektur": 15211000,
  "Teknik Lingkungan": 15311000,
  "Perencanaan Wilayah dan Kota": 15411000,
  "Teknik Kelautan": 15511000,
  "Rekayasa Infrastruktur Lingkungan": 15711000,
  "Teknik dan Pengelolaan Sumber Daya Air": 15811000,
  "Seni Rupa": 17011000,
  "Kriya": 17211000,
  "Desain Interior": 17311000,
  "Desain Komunikasi Visual": 17411000,
  "Desain Produk": 17511000,
  "Teknik Tenaga Listrik": 18011000,
  "Teknik Telekomunikasi": 18111000,
  "Sistem dan Teknologi Informasi": 18211000,
  "Teknik Biomedis": 18311000,
  "Manajemen": 19011000,
  "Kewirausahaan": 19211000

}

for i in range(len(df_2018.index)):
    df_2018.at[i, 'NIM'] = str(kode_jurusan[df_2018.at[i, 'Program Studi']] + 1)
    kode_jurusan[df_2018.at[i, 'Program Studi']] += 1
print("done")

done

In [5]:
# Fix Bulan dan Tahun Wisuda

df_wisuda = pd.read_excel("Wisuda.xlsx")

def check_fourth_and_fifth_chars(value):
    str_value = str(value)
    return str_value[0] == "1" and str_value[3:5] == "11"

df_wisuda_2011 = df_wisuda[df_wisuda['NIM'].apply(check_fourth_and_fifth_chars)]

df_wisuda_2011.drop(df_wisuda_2011.columns[[2, 3, 4, 5, 6]], axis=1, inplace=True)

wisuda_2011 = df_wisuda_2011.to_dict()

wisuda_nim = wisuda_2011['NIM']
wisuda_nama = wisuda_2011['Nama']
wisuda_tgl = wisuda_2011['Seremoni Wisuda']

final_data_tgl = {}
for i in wisuda_nama.keys():
    
    tgl = wisuda_tgl[i].lower().replace('wisuda','').lstrip().split(' ')
    
    if 'april' in tgl[0]:
        tgl[0] = '04'
    elif 'october' in tgl[0]:
        tgl[0] = '10'
    elif 'july' in tgl[0]:
        tgl[0] = '07'
    
    result = ''.join([tgl[0],'-',tgl[-1]])
    final_data_tgl[wisuda_nama[i]] = result


final_data_nim = {}
for i in wisuda_nama.keys():
    nim = str(wisuda_nim[i])
    final_data_nim[wisuda_nama[i]] = nim


for i in range(len(df_2018.index)):
    if df_2018.at[i, 'Nama'] in final_data_tgl:
        df_2018.at[i, 'Bulan dan Tahun Wisuda'] = str(final_data_tgl[df_2018.at[i, 'Nama']])

for i in range(len(df_2018.index)):
    if df_2018.at[i, 'Nama'] in final_data_nim:
        df_2018.at[i, 'NIM'] = str(final_data_nim[df_2018.at[i, 'Nama']])

/tmp/ipykernel_23419/3947421659.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wisuda_2011.drop(df_wisuda_2011.columns[[2, 3, 4, 5, 6]], axis=1, inplace=True)

In [6]:
# Fix Egde Case in NIM and Bulan dan Tahun Wisuda
df_2018.at[6, 'Nama'] = 'Agita Ratna Jelita Ambar Putri'
df_2018.at[6, 'NIM'] = '15211017'
df_2018.at[6, 'Bulan dan Tahun Wisuda'] = '10-2015'

df_2018.at[2458, 'NIM'] = '12211067'
df_2018.at[2458, 'Bulan dan Tahun Wisuda'] = '04-2016'

df_2018.at[326, 'Nama'] = 'Amatullah Zahidah Durrotun Nas'
df_2018.at[326, 'NIM'] = '11611053'
df_2018.at[326, 'Bulan dan Tahun Wisuda'] = '10-2015'

df_2018.at[326, 'Nama'] = 'Amatullah Zahidah Durrotun Nas'
df_2018.at[326, 'NIM'] = '11611053'
df_2018.at[326, 'Bulan dan Tahun Wisuda'] = '10-2015'

df_2018.at[919, 'NIM'] = '10411013'
df_2018.at[919, 'Bulan dan Tahun Wisuda'] = '10-2015'

df_2018.at[926, 'NIM'] = '12911027'
df_2018.at[926, 'Bulan dan Tahun Wisuda'] = '10-2016'

df_2018.at[927, 'NIM'] = '12911035'
df_2018.at[927, 'Bulan dan Tahun Wisuda'] = '04-2016'

df_2018.at[933, 'NIM'] = '12911006'
df_2018.at[933, 'Bulan dan Tahun Wisuda'] = '10-2017'

df_2018.at[947, 'Nama'] = 'Muhammad Yusuf Musabbiq'
df_2018.at[947, 'NIM'] = '12911030'
df_2018.at[947, 'Bulan dan Tahun Wisuda'] = '10-2015'

df_2018.at[1052, 'NIM'] = '11211010'
df_2018.at[1052, 'Bulan dan Tahun Wisuda'] = '10-2015'

df_2018.at[1195, 'NIM'] = '17011033'
df_2018.at[1195, 'Bulan dan Tahun Wisuda'] = '10-2016'

df_2018.at[1244, 'NIM'] = '18211015'
df_2018.at[1244, 'Bulan dan Tahun Wisuda'] = '10-2017'

df_2018.at[1276, 'NIM'] = '13611025'
df_2018.at[1276, 'Bulan dan Tahun Wisuda'] = '10-2015'

df_2018.at[1290, 'NIM'] = '13611030'
df_2018.at[1290, 'Bulan dan Tahun Wisuda'] = '07-2015'

df_2018.at[1302, 'NIM'] = '13611028'
df_2018.at[1302, 'Bulan dan Tahun Wisuda'] = '07-2015'

df_2018.at[1308, 'NIM'] = '13611012'
df_2018.at[1308, 'Bulan dan Tahun Wisuda'] = '07-2016'

df_2018.at[1309, 'NIM'] = '13611002'
df_2018.at[1309, 'Bulan dan Tahun Wisuda'] = '10-2016'

df_2018.at[1955, 'Nama'] = 'Thea Olivia Yusuf'
df_2018.at[1955, 'NIM'] = '13511001'
df_2018.at[1955, 'Bulan dan Tahun Wisuda'] = '04-2018'

df_2018.at[2049, 'NIM'] = '13011112'
df_2018.at[2049, 'Bulan dan Tahun Wisuda'] = '07-2015'

df_2018.at[2093, 'NIM'] = '13011113'
df_2018.at[2093, 'Bulan dan Tahun Wisuda'] = '07-2015'

df_2018.at[205, 'NIM'] = '10611081'
df_2018.at[205, 'Bulan dan Tahun Wisuda'] = '10-2015'

df_2018.at[1326, 'NIM'] = '13611604'

df_2018.at[1124, 'NIM'] = '90715322'
df_2018.at[1124, 'Bulan dan Tahun Wisuda'] = '10-2017'

df_2018.at[1674, 'NIM'] = '12311062'
df_2018.at[1674, 'Bulan dan Tahun Wisuda'] = '10-2015'

df_2018.at[2133, 'Bulan dan Tahun Wisuda'] = '10-2015'

In [7]:
# Fix Kota Column
df_2018['Kota'] = df_2018['Kota'].str.lower()
df_2018['Kota'] = df_2018['Kota'].str.replace('kabupaten','')
df_2018['Kota'] = df_2018['Kota'].str.replace('kab','')
df_2018['Kota'] = df_2018['Kota'].str.replace('kota','')
df_2018['Kota'] = df_2018['Kota'].str.replace('dki','')
df_2018['Kota'] = df_2018['Kota'].str.replace('city','')
df_2018['Kota'] = df_2018['Kota'].str.replace('cibinong','')
df_2018['Kota'] = df_2018['Kota'].str.replace('cimahi utara','cimahi')
df_2018['Kota'] = df_2018['Kota'].str.replace('bandung barat','bandung')
df_2018['Kota'] = df_2018['Kota'].str.replace('tangsel','tangerang selatan')
df_2018['Kota'] = df_2018['Kota'].str.replace('tanggerang','tangerang')
df_2018['Kota'] = df_2018['Kota'].str.replace('karanganyar surakarta','surakarta')
df_2018['Kota'] = df_2018['Kota'].str.replace('korea selatan','')
df_2018['Kota'] = df_2018['Kota'].str.replace('netherlands','')
df_2018['Kota'] = df_2018['Kota'].str.replace('jl percetakan negara vi gang joran no 6 rt 03 rw 03','')
df_2018['Kota'] = df_2018['Kota'].str.replace('jalan babakan baru no 10 rt 02 rw 07','bandung')
df_2018['Kota'] = df_2018['Kota'].str.replace('jl pondok pinang timur blok cii','jakarta selatan')
df_2018['Kota'] = df_2018['Kota'].str.replace('bbekasi','bekasi')
df_2018['Kota'] = df_2018['Kota'].str.replace('jaksel','jakarta selatan')
df_2018['Kota'] = df_2018['Kota'].str.replace('lippo','')
df_2018['Kota'] = df_2018['Kota'].str.replace('[^a-zA-Z0-9\s]', '', regex=True)
df_2018['Kota'] = df_2018['Kota'].str.lstrip()
df_2018['Kota'] = df_2018['Kota'].str.rstrip()
df_2018.at[1760, 'Kota'] = "jakarta"
df_2018.at[2167, 'Kota'] = "bandung"
df_2018.at[2305, 'Kota'] = "jakarta pusat"
df_2018.at[2305, 'Kota']

'jakarta pusat'

In [8]:
df_2018['Dari mana sumber utama biaya kuliah Anda?'] = df_2018['Dari mana sumber utama biaya kuliah Anda?'].str.lower()
df_2018['Dari mana sumber utama biaya kuliah Anda?'] = df_2018['Dari mana sumber utama biaya kuliah Anda?'].str.replace('kakak','orang tua/keluarga')
df_2018['Dari mana sumber utama biaya kuliah Anda?'] = df_2018['Dari mana sumber utama biaya kuliah Anda?'].str.replace('paman','orang tua/keluarga')
df_2018['Dari mana sumber utama biaya kuliah Anda?'] = df_2018['Dari mana sumber utama biaya kuliah Anda?'].str.replace('bantuan operasional kenalan keluarga','orang tua/keluarga')
df_2018['Dari mana sumber utama biaya kuliah Anda?'] = df_2018['Dari mana sumber utama biaya kuliah Anda?'].str.replace('uang','orang tua/keluarga')
df_2018['Dari mana sumber utama biaya kuliah Anda?'] = df_2018['Dari mana sumber utama biaya kuliah Anda?'].str.replace('sebagian beasiswa, saudara, dan mengajar les private','sebagian beasiswa')
df_2018['Dari mana sumber utama biaya kuliah Anda?'] = df_2018['Dari mana sumber utama biaya kuliah Anda?'].str.replace('+','')
df_2018['Dari mana sumber utama biaya kuliah Anda?'] = df_2018['Dari mana sumber utama biaya kuliah Anda?'].str.replace('beasiswa ortu','sebagian beasiswa')

/tmp/ipykernel_23419/3433137945.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_2018['Dari mana sumber utama biaya kuliah Anda?'] = df_2018['Dari mana sumber utama biaya kuliah Anda?'].str.replace('+','')

In [9]:
unique_value = df_2018['Dari mana sumber utama biaya kuliah Anda?'].unique()
print('Dari mana sumber utama biaya kuliah Anda?', " =", unique_value)
print("Jumlah", 'Dari mana sumber utama biaya kuliah Anda?',  " =", len(unique_value))
null_value = df_2018['Dari mana sumber utama biaya kuliah Anda?'].isna().sum()
print("Jumlah", 'Dari mana sumber utama biaya kuliah Anda?', "isna =", null_value)

Dari mana sumber utama biaya kuliah Anda?  = ['orang tua/keluarga' 'sebagian beasiswa' 'beasiswa' 'biaya sendiri']
Jumlah Dari mana sumber utama biaya kuliah Anda?  = 4
Jumlah Dari mana sumber utama biaya kuliah Anda? isna = 0

In [10]:
org_unique_value = df_2018['Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)'].unique()
print('Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)', " =", org_unique_value)
print("Jumlah", 'Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)',  " =", len(org_unique_value))
org_null_value = df_2018['Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)'].isna().sum()
print("Jumlah", 'Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)', "isna =", org_null_value)

Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)  = ['Himpunan Program Studi: IMA-G ITB (Ikatan Mahasiswa Arsitektur Gunadharma)'
 'UKM ITB' 'IMA-G' 'STEMA, IMA-G, Agritektur'
 'Ikatan Mahasiswa Arsitektur Gunadharma (IMA-G)' 'PMK ITB' 'ps itb'
 'IMAG ITB' 'PSM-ITB' 'IMA-G ITB' 'IMA G' 'IMA G, PSM ITB' 'Karisma ITB'
 'LSS ITB' 'Genshiken ITB' 'Himpunan Program Studi' 'Unit keagamaan'
 'Unit Keagamaan (PMK)' 'Img' 'IMA - G' 'IMAG' 'SEF ITB' 'IMAG, LFM , US'
 'Liga Film Mahasiswa ITB' 'KPA ITB' 'IA-G' 'UBALA dan IMAG' 'UT'
 'Uit Kebudayaan Aceh ITB' 'himpunan program studi' 'IMA_G-ITB'
 'Keluarga Paduan Angklung (KPA) ITB, Ikatan Mahasiswa Arsitektur Gunadharma (IMA-G)'
 'Musi ITB' 'Kabinet KM-ITB' 'ima gunadharma'
 'Himpunan dan unit kebudayaan' 'Ima-g' 'IMA-Gunadharma' 'UPTQ SALMAN ITB'
 'PSM ITB' 'IMA Gunadharma' 'ITB Student Orchestra' 'UKA ITB'
 'Ikatan Mahasiswa Arsitektur-Gunadharma ITB (IMA-G ITB)'
 'Keluarga Paduan Angklung ITB'
 'ikatan Mahasiswa Arsitektur Gunadharma ITB' 'KMB ITB' 'MBWG' 'APRES ITB'
 'NAUTIKA ITB' 'KMB' 'Himpunan'
 'Ikatan Mahasiswa Arsitektur Gunadharman (IMA-G)' 'DEBUST ITB'
 'Unit Kebudayaan Jepang ITB' 'Paguyuban daerah' 'gamais' 'IMA G ITB'
 'U-Green ITB' 'Himastron ITB' 'Tim Pembina Olimpiade Astronomi'
 'HIMASTRON' 'Himpunan prodi' 'HIMASTRON ITB'
 'Himpunan Mahasiswa Astronomi' 'Kpa ITB' 'Himastron' 'INFINITY ITB'
 'GAMAIS' 'Himastron, Format ITB (Paguyuban)' 'Hinaatron' 'KM ITB'
 'himastron' 'Nymphaea ITB' 'UKMR' 'Nymphaea' 'Himabio Nymphaea'
 'Himabio Nymphaea ITB' 'U green'
 'NYMPHAEA, U-GREEN dan Paguyuban Kab. Bandung' 'HIMABIO'
 'Nymphea Biologi ITB' 'Ukawangi' 'Himpunan Mahasiswa Biologi Nymphaea'
 'Gamais ITB' 'Loedroek ITB' 'Himpunan Prodi' 'Kabinet KM ITB'
 'HIMABIO Nymphaea ITB' 'HIMABIO Nymphaea' 'GAMAIS ITB' 'UKJ ITB'
 'UKM INFINITY ITB' 'Himabio nymphaea' 'Nymphea'
 'KM ITB, Himabio Nymphaea ITB' 'MUSI ITB' 'Himpunan program studi'
 'HIMABIO NYMPHAEA' 'Himpunan Mahasiswa Biologi (Nymphaea)'
 'HIMABIO NYMPHAEA ITB' 'KENDO ITB' 'KOKESMA' 'Himabio "Nymphaea" ITB'
 'Himpunan mahasiswa biologi nymphaea' 'HIMABIO "Nymphaea" ITB'
 'Tidak ada' 'Himpunan Mahasiswa Biologi "Nymphaea" ITB'
 'KMPA Ganesha ITB' 'STEMA' 'Himpunan Mahasiswa Biologi Nymphaea ITB'
 'Nympahea ITB, Salman ITB' 'himpunan program studi dan SBBH' 'IMDI ITB'
 'IMDI ITB, KMSR ITB' 'IMDI' 'IMDI (Ikatan Mahasiswa Desain Interior) ITB'
 'IMDI Ikatan Mahasiswa Desain Interior' 'UKM' 'KMSR ITB dan IMDI ITB'
 'KMSR' 'HIMPUNAN PROGRAM STUDI' 'Maha Gotra Ganesha' 'IMDI dan KMSR'
 'KMSR ITB' 'MGG/IMDI' 'MGG ITB dan KMH ITB' 'URPA ITB' 'KMSR dan IMDI'
 'kmsr' 'IPPDIG' 'PMK' 'IPPDIG, KMSR' 'LFM' 'KM ITB dan IPPDIG'
 'IPPDIG DKV ITB, KMSR ITB' 'laskar seni dan KMSR' 'U-green'
 'MBWG, IPPDIG' 'Genshiken' 'KISR' 'Ikawangi, himpunan IPPDIG'
 'Genshiken dan Unit Kebudayaan Jepang' 'ippdig' 'kmk itb' 'UKSS'
 'INDDES ITB' 'indes' 'STEMA ITB' 'KMK' 'INDDES' 'INDDES & Gebrak'
 'PARANG Unit Menempa ITB' 'Inddes' 'KMK ITB, MGG ITB' 'UNIT PARANG'
 'KMSR ITB, INDDES ITB, PMK ITB' 'INDESS' 'Gebshiken'
 'INDDES ITB (Himpunan Mahasiswa Desain Produk)'
 'KISR (Keluarga Islam Seni Rupa), INDDES (Industrial Design Student Society)'
 'Hmf' 'KAMIFA' 'KARISMA ITB' 'Lingkung Seni Sunda ITB' 'LSS' 'Gamais itb'
 'km itb' 'HMF "Ars Praeparandi" ITB' 'HMF-ITB' 'HMF ITB' 'Unit Keagamaan'
 "HMF 'Ars Praeparandi' ITB" 'HMF ars praeparandi ITB' 'Kongres KM ITB'
 'HMF dan Kabinet KM ITB' 'Himpunan Mahasiswa Farmasi Ars Praeparandi ITB'
 'HMF AP ITB' 'UKSU, HMF' 'UKMR ITB' 'HMF' 'Perisai Diri ITB' 'hmf itb'
 'Studi Teater Mahasiswa' 'Unit Tenis ITB' 'PSTK ITB' 'Kampus Peduli'
 'PSTK ITB, HMF Ars Praeparandi ITB' 'Himpunan Mahasiswa Farmasi'
 'HMF ITB, LSS ITB' 'Himpunan jurusan' 'HIMAFI' 'Himafi ITB' 'himpunan'
 'HIMAFI ITB' 'Unit Panahan Pasopati ITB' 'Himafi' 'UBT ITB' 'U-green ITB'
 'Persekutuan Mahasiswa Kristen ITB' 'UKSU ITB' 'PS ITB' 'KAM BG ITB'
 'paguyuban daerah kuningan (kamiku)' 'ISO' 'UATM ITB' 'UCI' 'himafi itb'
 'Kmpa ganesha itb' 'UGREEN ITB' 'Radio Kampus ITB' 'BKC ITB' 'tidak ada'
 'Pasopati ITB' 'Ganesha Bicycler ITB' 'UBT' 'Unit Kebudayaan Minang ITB'
 'Himafi itb' 'URO ITB' 'Unit Bulu Tangkis ITB' 'Asrama Bumi Ganesha ITB'
 'Unit Perisai DIri' 'KGMC' 'HMK AMISCA' 'HMK Amisca ITB'
 'HMK AMISCA ITB, UBV ITB' 'Amisca / Himpunan Kimia' 'HMK AMISCA ITB'
 'Protokoler ITB' 'AMISCA' 'HMK Amisca' 'yayasan di bidang pendidikan'
 'AMISCA ITB' 'MBWG ITB' 'HMK Amisca, Unit Kesenian Minangkabau' '-'
 'Ukj itb' 'KM ITB dan paguyuban' 'KAMAMUKI ITB' 'HMK AMISCA ITB, KMT ITB'
 'Amisca' 'Paguyuban' 'Majalah Boulevard ITB' "HMK 'Amisca' ITB"
 'AMISCA ITBA' "Himpunan Mahasiswa Kimia 'AMISCA' ITB" "Mata' Salman ITB"
 'Amisca ITB' 'LPMI (Lembaga Pelayanan Mahasiswa Indonesia)' 'LLS ITB'
 'AGRO ITB dan Loedroek ITB' 'KM, UBT, Kokesma, Kamamuki'
 'AMISCA (Himpunan Mahasiswa Kimia)' "HMK 'AMISCA' ITB" 'Unit'
 'Radio kampus' 'AMISCA, LFM ITB' "PSTK ITB dan HMK 'AMISCA' ITB"
 'HATI ITB' 'g' 'Paguyuban daerah UKMR ITB' 'Kokesma itb'
 'HMK AMISCA ITB, FORMAT ITB' 'KMJ' 'lingkung seni sunda' 'IKAT kriya'
 'Himpunan TERIKAT Mahasiswa Kriya Tekstil dan Keramik'
 'Organisasi Jurusan dan UKA ITB' 'TERIKAT' 'PERSMA ITB'
 'KM ITB SENI BUDAYA, UKJ ITB' 'UKK ITB' 'URPA' 'KMSR, IKAT' 'Stema'
 'US ITB' 'Unit Parang' 'UBV ITB' '8EH radio' 'KMSR, TERIKAT (kriya),'
 'IKAT ITB' 'terikat' 'Tidak Ada' 'TEMBIKAR' 'Unit Olahraga Hoki ITB'
 'KMSBM' 'Satoe Indonesia' 'KM-SBM' 'KM SBM' 'UKB ITB' 'Apres! ITB'
 'satoe indonesia' 'Indsicoveria' 'UKM Center' 'AIESEC' 'SEF' 'KM SBM ITB'
 'UKSS ITB' 'PS ITV' 'KMSBM ITB' 'UKB' 'KM-ITB' 'Pelita Muda' 'YLI'
 'Gebrak (Satoe Indonesia), Unit Kebudayaan Melayu Riau'
 'Pers Mahasiswa, KM ITB' 'UBALA ITB'
 'Keluarga Asrama Mahasiswa Bumi Ganesha ITB' 'MTI ITB'
 'Himpunan Mahasiswa Teknik Industri'
 'Himpunan Mahasiswa Teknik Industri (MTI) ITB' 'KM ITB, PSIK ITB'
 'KMK ITB' 'MTI ITB, Lingkung Seni Sunda' 'MTI'
 'Mahasiswa Teknik Industri' 'Gamifti' 'UAB ITB' 'Menwa ITB, LSS ITB'
 'Kementerian Ganesha Hijau Kabinet KM ITB' 'Techno Entrepreneur Club ITB'
 'Komisi Pemuda Gereja' 'ISO (ITB Student Orchestra)'
 'Keluarga Mahasiswa Teknik Industri' 'Gamais ITB dan KM ITB'
 'HMTI, LSS, GAMAIS, KMT, Teater, GMT' 'Gamais'
 'Unit Aktivitas Tenis Meja' 'HIMATIKA' 'Himatika ITB'
 'Keluarga Paduan Angklung ITB (KPA ITB)' 'KSEP ITB'
 'HIMATIKA ITB dan UKB-DEBUST ITB' 'HIMATIKA ITB'
 "Majelis Ta'lim Salman ITB" 'UKM-ITB' 'HIMATIKA ITB dan UBG ITB'
 'Himatika itb' 'Keluarga Paduan Angklung Institut Teknologi Bandung'
 'UKB Debust ITB' 'Himatika' 'Maha Gotra Ganesha ITB' 'PASOPATI ITB'
 'UT ITB' 'IKAHIMATIKA Indonesia' 'Himatima' 'UBG ITB' 'MGG ITB'
 'Himatika (mathco)' 'Pramuka ITB' 'Himatika & PMK ITB' 'KM3 ITB' 'PSIK'
 'HATI' 'HIMATIKA ITB, KPA ITB' 'Kabinet KM ITB & Paguyuban KPMM Magelang'
 'Himpunan dan kegiatan KM ITB' 'Pmk itb' 'HIMATIKA Investment Club'
 'HIMATIKA DAN UKM IT' 'HMME ITB'
 'HMME "Atmosphaira" ITB, UKA ITB, GAMAIS ITB, KM ITB'
 'UKM ITB (Unit Kesenian Minangkabau)' 'HMME dan UBALA' 'HMME Atmosphaira'
 'HMME' 'Exxo Gaming Dota 2 Esport' 'HMME "Atmosphaira" ITB'
 'Protokol ITB' 'Karisma itb' 'HMME Atmosphaira ITB' 'PMK ITB, HMME ITB'
 'Ganesha Touchdown'
 'Himpunan Mahasiswa Meteorologi (HMME) "ATmosphaira" ITB' 'Hmme'
 'PSIK ITB' 'KARISMA SALMAN ITB' 'HATI ITB, HMME ITB' 'Himpunan dan Unit'
 'hmme' 'Himpunan Mahasiswa Meteorologi ITB' 'HIMAMIKRO Archaea ITB'
 'Himpunan Mahasiswa Mikrobiologi' 'Archaea ITB' 'ARCHAEA'
 'HIMA MIKROBIOLOGI ARCHAEA ITB' 'Himamikro Archaea'
 'HIMA Mikrobiologi Archaea' 'HIMAMIKRO' 'Himamikro'
 'Himamikro Archaea ITB' 'Hima mikrobiologi' 'Synbio ITB'
 'Al-Hayaat (GAMAIS fakultas)' 'Kongres dan himpunan' 'Kmk itb'
 'HIMAMIKRO ARCHAEA' 'HM Mirobiologi ARCHAEA'
 'NAUTIKA ITB, HIMAMIKRO ARCHAEA' 'Himpunan Mikrobiologi'
 'Himpunan Mahasiswa Mikro, GAMAIS,' 'HM Archaea' 'Paguyuban FORMAT ITB'
 'HMO ITB' 'HMO TRITON ITB' 'HMO ITB, STEMA ITB' 'LFM ITB'
 'Himpunan Mahasiswa Oseanografi ITB' 'UKIR ITB' 'Lodroej ITB' 'HMO'
 'Unit Kesenian Minangkabau (UKM) ITB' 'Himpunan Mahasiswa Oseanografi'
 'HMO Triton ITB' 'HMO "TRITON" ITB dan SKOR Hoki ITB'
 'Keluarga Mahasiswa Pecinta Alam (KMPA Ganesha)'
 'Keluarga Asrama Bumi Ganesha ITB' "HMO 'Triton' ITB"
 'Genshiken ITB dan HMO ITB' 'Resimen Mahasiswa Mahawarman Batalyon I/ITB'
 'Unit Kebudayaan Betawi (UKB) ITB' 'ISES 2015' 'PSHT ITB' 'HM Triton'
 'OSKM dan HMP' 'HMP' 'HMP ITB dan UKM ITB'
 'HMP Pangripta Loka dan MBWG ITB'
 'Himpunan Mahasiswa Planologi Pangripta Loka' 'HMP Pangripta Loka'
 'HMP PL ITB' 'UKM kesenian' 'HMP ITB' 'Unit Apresiasi Musik ITB' 'KKMP'
 'HMP Pangripta Loka ITB' 'Keluarga Situbondo di Bandung'
 'Himpunan Mahasiswa Planologi "Pangripta Loka"' 'MBWG dan HMP' 'PS-ITB'
 'Unit Budaya Lampung (UBALA)' 'Genshiken ITb' 'HMP Pangriltaloka'
 'HMP, KONGRES' 'hmp itb' 'SAHANG ITB' 'HMP PL' 'Wanadri'
 'HMP ITB, UKA ITB' 'Himpun Planologi'
 'HATI ITB, HMP PL ITB, TIM BEASISWA KM ITB, DEWAN MWA WM ITB'
 'Percama ITB' 'Himpunan Mahasiswa' 'Apres ITB' 'Rumah Sahabat Salman ITB'
 'HMP Pangriptaloka ITB' 'Hmp' 'Lingkar Sastra ITB' 'Apres' 'HMRH ITB'
 'Himpunan Mahasiswa Rekayasa Hayati' 'Mini MBA Salman ITB' 'HMRH' 'KPA'
 'Hmrh' 'Program KM ITB (Pelita Muda)' 'Unit Kebudayaan Betawi ITB'
 'MUSLIM ITB JATINANGOR - GAMAIS ITB' 'Paduan Suara Mahasiswa ITB' 'UBALA'
 'KM ITB, HMRH ITB, UKA ITB, STEMA ITB'
 'Keluarga Paduan Angklung (KPA ) ITB' 'Hmf otb' 'FORMAT ITB'
 "HMF 'ARS PRAEPARANDI' ITB" 'Kongres KM-ITB' 'HMF Ars Praeparandi'
 "HMF 'Ars Praeparandi ITB" 'Hmf. Pstk. Kokesma'
 'Jaringan Mahasiswa Kesehatan Indonesia' 'HMF Ars Praeparandi ITB'
 'Ugreen' 'Himpunan Mahasiswa farmasi' 'MGG' 'Himpunan program studu'
 'TEC' "Himpunan Mahasiswa Farmasi 'Ars Praeparandi' ITB"
 "Himpunan Mahasiswa Farmasi 'Ars Praeparandi'" 'Apres! ITB dan HMF'
 "Majelis Ta'lim (Mata') Salman ITB"
 'KMC ITB (Keluarga Mahasiswa Ciamis ITB)' 'Kantor berita itb' 'Ukm itb'
 "MATA' SALMAN ITB" 'Unit kebudayaan banten Debust'
 'Unit Kesenian Minangkabau' 'KAMIFA ITB'
 'Marching Band Waditra Ganesha ITB' 'UKA' 'KMJ ITB'
 "HMF 'Ars Praeparandi'" 'Menwa' 'KAMIFA (Keluarga Islam Farmasi)'
 'UKSU-ITB' "HMF Ars' Praeparandi dan KMB Dhammanano ITB"
 "HMF 'Ars Praeparandi' ITB, KMB ITB" 'kmsr itb' 'Loedroek itb'
 'Keluarga Mahasiswa Seni Rupa' 'KGB ITB' 'IPPPPPOT' 'GALI'
 'Unit kebudayaan' 'UKT ITB' 'Kmsr' 'Interakta' 'DEBUST ITB, KGB ITB'
 'UNIT KEBUDAYAAN TIONGHOA' 'UKMR dan GAMAIS' 'stupa' 'KM-SR/ Interakta'
 'HMIF' 'HMIF ITB' 'Ut itb' 'HMIF ITB, ARC ITB'
 'Asrama Mahasiswa Kalimantan Selatam Demang Lehman (AMKS-DL)'
 'Kepanitiaan di event km itb' 'HMIF ITB, KMB ITB' 'TEC ITB'
 'PSTK ITB, Karang Praga' 'Karisma Salman' 'KMPN ITB' 'Kmpn' 'Atlas'
 'KMPN' 'Unit Pramuka ITB' 'Kmpn itb' 'Widyakelana ITB' 'Rakata team'
 'LOEDROEK ITB, KMPN' 'KAM Bumi Ganesha' 'Unit Kesenian Minangkabau ITB'
 'KADAL' 'KMPN+Kongres KM' 'AIESEC ITB' 'Percama' 'VBC' 'tec itb'
 'HME ITB, URO ITB' 'Pasopati ITB, URO ITB' 'HME ITB'
 'Divisi Korps Asisten - USDI ITB' 'Unit Robotika' 'Kendo ITB'
 'Perhimak Bandung' 'HME' 'ISO ITB' 'Unit Robotika ITB'
 'Pelopor (Paguyuban beasiswa pemprov jabar) Dan Format ITB (Paguyuban mahasiswa asal garut)'
 'Workshop HME ITB' 'UKSU' 'Himpunan Mahasiswa Elektroteknik'
 'Divisi Workshop HME ITB' 'Unit Panahan Pasopati' '8EH Radio ITB'
 'KMPA ganesha ITN' 'Keluarga Mahasiswa ITB Bengkulu' 'URO' 'Thifan'
 'Ubg itb' 'Unit Kebudayaan Banten Debust ITB' 'KOMPA ITB,Tae Kwon Do ITB'
 'Unit Kebudayaan Aceh, Unit Panahan Pasopati ITB, dan Protokoler ITB'
 'Asrama Salman' 'Unit Capoeira ITB' 'Kemma ITB' 'Unit Tenis Meja'
 'Himpunan Mahasiswa Elektro' 'Asrama Salman ITB' 'PSTK, HME ITB'
 'PERCAMA ITB' 'RUMAH ASIK' 'UKA-ITB' 'Himpunan Mahasiswa Teknik Elektro'
 'HME, URO' '8EH Radio ITB, HME ITB' 'HMFT ITB' 'HMFT'
 'Himpunan Mahasiswa Fisika Teknik (HMFT-ITB)'
 'HIMPUNAN MAHASISWA FISIKA TEKNIK' 'Lingkar Sastra ITB dan Tiben ITB'
 'PSM ITB KPA ITB HMFT' 'Hmft itb' 'Unit Kesenian Minangkabau - ITB'
 'Nautika ITB dan HMFT ITB' 'ITB Jazz' 'Himpunan dan Unit Tennis'
 'Resimen Mahasiswa' 'Himpunan Mahasiswa Teknik Fisika / HMFT'
 'Bidang Mahasiswa dan Kaderisasi Salman ITB' 'KMPA GANESHA ITB'
 'HMFT ITB ITB Insight' 'Hmft' 'Kabinet KM ITB dan Himpunan'
 'Himpunan Mahasiswa Fisika Teknik' 'HMFT ITB dan Sion Ministry'
 'Himpunan Mahasiswa Fisika Teknik (HMFT)' 'Hanya aktif di Himpunan saja'
 'unit kebudayaan (Debust ITB)' 'PSTK' 'HIMA' 'IMG' 'IMG ITB'
 'SKORHOKI ITB' 'IMG ITB, Gamais ITB' 'Persatuan Sepakbola ITB'
 'Pers Mahasiswa ITB' 'IMG, gamais' 'Ikatan Mahasiswa Geodesi ITB'
 'IMG TIB' 'Unit Kebudayaan Aceh (UKA) ITB' 'Tidak ADA'
 'Unit Budaya Lampung' 'IMG ITB Dan KPA ITB' 'Himpunan Mahasiswa- IMG'
 'GAMAIS ITB/FSI GD ITB' 'Unit Kesenian Sumatera Utara' 'IMG dan LSS ITB'
 'IMG-ITB' 'KPMBB' 'Himpuna Program Studi' 'Pelita Muda ITB'
 'GMKI Cabang Bandung' 'Menwa Yon I/ITB' 'Udrussunnah Bandung'
 'Kokesma Itb' 'Paguyuban Daerah' 'MENWA ITB, IMG, KARATE' 'TERRA'
 'HIMA TG"TERRA" ITB' 'HIMA TG TERRA ITB' 'HIMA TG "TERRA" ITB'
 "HIMPUNAN MAHASISWA TEKNIK GEOFISIKA 'TERRA' ITB"
 'Unit Kebudayaan Tionghoa ITB' 'Kebudayaan Jepang' 'Himpunan TERRA ITB'
 'BPA HIMA TG “TERRA” ITB' 'HIMA TG TERRA' 'HIMA TG Terra ITB' 'Hima TG'
 'HIMA TG “TERRA” ITB' 'TERRA ITB'
 'Unit Kesenian Bali Maha Gotra Ganesha ITB' 'HIMA TG ‘TERRA’ ITB'
 'Terra itb' "HIMA TG 'TERRA' ITB" 'HMTG GEA ITB' 'HMTG "GEA" ITB'
 'Keluarga Mahasiswa Tasikmalaya' 'HMTG GEA' 'Studentsxceos'
 'hmtg gea itb' "HMTG 'GEA' ITB" 'HMTG “GEA” ITB' 'AAPG SC ITB'
 'HMTG GEA ITB & KARISMA ITB' 'HMTG "GEA" ITB, AAPG SC ITB' 'Gea'
 'HMTG "GEA"' 'HMTG "GEA" ITB dan UKJ' 'UKM ITB, GEA' 'Hmtg gea itb'
 'Hmtg Gea itb' 'HMTG Gea ITB' 'GEA' 'HMTG ITB' 'AAPG SC'
 'HMTG GEA ITB dan UKM-ITB' 'Himpunan Jurusan dan KM ITB'
 'MTI, UNIT TENIS, UNIT RENANG,' 'Mti'
 'Organisasi Program Studi - MTI ITB' 'Iso' 'Himpunan MTI' 'ISES'
 'Laboratorium Sistem Produksi' 'Himpunan dan Laboratorium'
 'MTI ITB dan U-Green ITB' 'Lab RSKE TI ITB' 'UKSU ITB, MTI ITB'
 'Unit Kesenian dan Kebudayaan' 'Paguyuban Daerah: KOMAGAMA' 'LSIK ITB'
 'MTI ITB (Himpunan)' 'Lab RSKE' 'MTI, LLS' 'Laboratorium'
 'Pagubuyan Flobamora NTT-AMI (Aku Masuk ITB)-KM ITB' 'LPOSI ITB'
 'Unit PMK ITB' 'KMH ITB dan MGG' 'LIPSP' 'Himpunan MTI ITB'
 'LSS ITB dan MTI ITB' 'Anggota Laboratorium Sistem Produksi' 'MTI UTV'
 'Koperasi Kesejahteraan Mahasiswa (KOKESMA)'
 'Mahasiswa Islam Teknik Industri (MITI)' 'Ps itb'
 'Keluarga Mahasiswa Teknik Industri (MTI ITB)' 'Rakata ITB' 'ukm itb'
 'Mti itb' 'kokesma itb' 'Apapun' 'LIPSP ITB' 'MTI ITB, KM ITB' 'GAMIFTI'
 'KOKESMA ITB' 'AIESEC, YLI, MTI-Consulting, KMB, UKT' 'capoeira itb'
 'Ubala ITB' 'Paguyuban Daerah (Widyakelana ITB)' 'mbwg itb' 'ARC ITB'
 'paguyuban kmjb' 'HMIF dan ITB Student Orchestra'
 'Himpunan Mahasiswa Informatika (HMIF)' 'Hmif' 'Boulevard ITB'
 'Himpunan Informatika ITB' 'UATM' 'HMIF (Himpunan Mahasiswa Informatika)'
 'Unit Kebudayaan Aceh' 'KMKL ITB' 'KMKL-ITB' 'KMKL' 'LSS, KMKL'
 'KMKL itb' 'PASOPATI' 'Kmkl itb' 'Organisasi Gereja'
 'Unit Selam Nautika ITB' 'LIGA FILM MAHASISWA ITB'
 'ITB Student Orchestra (ISO)'
 'Keluarga Mahasiswa Kelautan ITB (KMKL ITB)' 'Tae Kwon Do ITB' 'kmkl'
 'PMK, KM ITB' 'Debust' 'Paguyuban dan event kampus seperti oskm'
 'LSS ITB, KMKL ITB, KM ITB' 'KMKL - ITB' 'KMKL ITB dan PS ITB'
 'KSEP ITB, KMKL ITB' 'KMJ ITB,' 'Nautika ITB' 'HIMATEK ITB' 'HIMATEK'
 'Kantor Berita ITB/ USDI' 'Himatek' 'himatek' 'Forum Bidik Misi ITB'
 'UKJ' 'HMJ' 'Kmk' 'himpunan prodi' 'HIMATEL ITB' 'GMUNC' 'KMPA ganesha'
 'HIPMI ITB' 'PS ITB, HIMATEK ITB'
 'Forum Mahasiswa Garut ITB (Paguyuban Daerah)' 'GAMISTEK'
 'MBWG ITB dan Himpunan Prodi' 'Forum Bidik Misi' 'Unit Aktivitas Bridge'
 'KMK ITB, HIMATEK ITB' 'Stema itb' 'PAS ITB' 'KMK dan UBG' 'Kokesma'
 'Himpunan Mahasiswa Teknik Kimia (HIMATEK) ITB' 'UBV'
 'Keluarga Ganesha Mahasiswa Cirebon ITB (KGMC ITB)' 'HMTL, KAMIL'
 'HMTL ITB' 'UBG' 'HMTL' 'PSTK, KPA, HMTL, KM'
 'HMTL ITB, FORMAT ITB (Paguyuban)' 'GAMAIS PUSAT dan WILAYAH'
 'HMTL dan KM ITB' 'Unit Olahraga dan Kesehatan' 'MG-ITB' 'Hmtl itb'
 'HMTL dan MGG' 'Himpunan Mahasiswa Teknik Lingkungan (HMTL)'
 'AIESEC ITB, AIESEC Bandung, AIESEC Indonesia'
 'HMTL dan kepanitiaan di bawah KM'
 'HMTL ITB (Himpunan Mahasiswa Teknik Lingkungan)' 'HMTL ITB, PSM ITB'
 'HMTL ITB, MUSI ITB' 'Glaciem skating itb' 'MTM ITB' 'MTM' 'UKIR TB'
 'Himpunan Mahasiswa Teknik Material' 'Infinity ITB'
 'Mahasiswa Teknik Material' 'Gamais ITB / MIM' 'UKMR, URPA'
 'Unit Karate ITB' 'Himpunan Program Studi -- MTM ITB'
 'Paguyuban Daerah Nganjuk Jawa Timur'
 'Himpunan Mahasiwa Teknik Material ITB' 'Ukawangi dan MTM ITB'
 'Keluarga Mahasiswa Buddhis' 'KSR PMI ITB' 'PAS-ITB' 'HMM ITB' 'HMM'
 'Himpunan Mahasiswa Mesin' 'KEMMA ITB' 'Apres! Dan HMM' 'HMM, ISES'
 'RAKATA ITB' 'Uksu ITB' 'Bengkel HMM ITB'
 'Himpunan Mahasiswa Mesin (HMM) ITB' 'KARANGPRAGA ITB'
 'Kelurga Pelopor ITB' 'Tim Otomotif Cikal ITB' 'Unit robotika' 'Km itb'
 'Keagamaan' '---' 'UKM Perisai Diri ITB' 'MBWG, HMM ITB'
 'HMM ITB, UKSU ITB, PMK ITB' 'Musi itb' 'Paguyuban KSE ITB'
 'HMM ITB dan Tim Cakrawala EV' 'Ldps' 'HMM ITB, PSTK ITB' 'HMM ITV'
 'U Green ITB' 'Forum Bidikmisi ITB' 'AMKT Lamin Mahakam' 'HMM-ITV'
 'PMK, HMM' 'Himpunan Organisasi' 'Himpunan Mahasiswa Mesin ITB'
 'Cikal ITB' 'KSE ITB' 'Himpunan Mahasiswa ITB'
 'Himpunan Mahasiswa Mesin HMM ITB' 'IMMG ITB'
 'Ikatan Mahasiswa Metalurgi (IMMG)' 'UKA ITB dan IMMG ITB' 'IMMG IB'
 'Immg itb' 'IMMG dan UKSS' 'IMMG' 'Asistensi Agama dan Etika Islam'
 'Kokesma ITB' 'Taekwondo ITB'
 'Ikatan Mahasiswa Teknik Metalurgi (IMMG ITB)'
 'Ikatan Mahasiswa Metalurgi' "Mejelis Ta'lim Salman ITB"
 'Ikatan Ahli Teknik Perminyakan Indonesia Cabang ITB'
 'Karisma ITB (Unit di Salman)' 'HMTM PATRA ITB' 'IATMI' 'SPE'
 'SPE, PATRA' 'HMTM PATRA' 'Unit Softball ITB' 'HMTM Patra ITB'
 'PATRA ITB' 'HMTM Patra' 'HMTM "PATRA" ITB'
 "Himpunan Mahasiswa Teknik Perminyakan 'PATRA' ITB" 'Patra' 'SPE SC ITB'
 'Ikatan Ahli Teknik Perminyakan Indonesia (IATMI)' 'PATRA' 'IATMI SM ITB'
 'Himpunan Mahasiswa Teknik Perminyakan "PATRA" ITB'
 'Society of Petroleum Engineers' 'HMTM "Patra" ITB' 'hmtm patra' 'Ubt'
 'SPE ITB SC' 'Udrus Sunnah ITB' 'SPE, IATMI' 'HMT ITB, UBG' 'HMT-ITB'
 'HMT ITB' 'HMT' 'UKT' 'HMT dan URPA' 'Hmt itb' 'HMT - ITB'
 'Himpunan HMT ITB' 'PKM _KM ITB' 'Skhole ITB Mengajar' 'HMS ITB'
 'Hinpunan Mahasiswa Sipil ITB' 'HMS ITB, DEBUST ITB'
 'Paguyuban Daerah KGMC (Keluarga Ganesha Mahasiswa Cirebon)'
 'Pehimak Bandung' 'UKB DEBUST ITB' 'KPA-ITB' 'Debust ITB' 'HMS'
 'HMS dan KAMAPPAS (Paguyuban daerah diluar kampus)' 'hms itb' 'Hms itb'
 'Persekutuan Mahasiswa Kristen (PMK) dan Protokoler ITB'
 'Himpunan Mahasiswa Sipil ITB' 'Himpunan Mahasiswa Sipil' 'HMS-ITB'
 'Ugreen ITB' 'UPTQ Salman ITB' 'UNIT PASOPATI ITB'
 'HMS ITB, Ganesha Touchdown' 'Marching Band Wadhitra Ganesha'
 'KMK ITB, ISO, Pasopati ITB, HMS ITB' 'hms' 'Hms'
 'Paguyuban Karang Praga ITB' 'keluarga mahasiswa buddhis'
 'HMS ITB, UKM ITB' 'NAUTIKA' 'hme'
 'HME (Himpunan Mahasiswa Elektroteknik)'
 'Keluarga Mahasiswa Islam ITB (GAMAIS ITB)'
 'himpunan mahasiswa (HME ITB)' 'UKB Debust' 'KKN Tematik' 'MENWA ITB'
 'KMH ITB' 'hme itb' 'none' 'Unit Rebana ITB' 'UT-ITB'
 'ARC (Amateur Radio Club) ITB' 'NON AKTIF']
Jumlah Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)  = 949
Jumlah Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi) isna = 0

In [11]:
df_2018.head()

,NIM,Nama,Jenis Kelamin,Angkatan,IP,Fakultas/Sekolah,Program Studi,Bulan dan Tahun Wisuda,Kota,Provinsi (untuk luar Indonesia cukup tuliskan nama negara),...,Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [Other (describe)],"Setelah lulus dari perguruan tinggi, apakah Anda mengambil kursus atau pendidikan tambahan?","Jenis kursus apa yang Anda ambil? [piranti lunak aplikasi (Autocad, Oracle, SAS, dll)]",Jenis kursus apa yang Anda ambil? [bahasa inggris],Jenis kursus apa yang Anda ambil? [bahasa asing lainnya],Jenis kursus apa yang Anda ambil? [kesenian dan/atau keterampilan],Jenis kursus apa yang Anda ambil? [olah raga],Jenis kursus apa yang Anda ambil? [sertifikasi keahlian bidang keilmuan],Jenis kursus apa yang Anda ambil? [ilmu agama],Jenis kursus apa yang Anda ambil? [Other (describe)]
0,15211111,Adam Nurilman Dwikadartomo,Pria,2011,3.30,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,04-2016,depok,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15211004,Adelita Febiola,Wanita,2011,3.50,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,04-2016,bekasi selatan,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15211086,Adhietya Orlandho Putra Sunarm,Pria,2011,3.29,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,04-2016,bandung,Jawa Barat,...,NaN,ya,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
3,15211021,Adlan Praido,Pria,2011,3.39,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,04-2016,tangerang selatan,Banten,...,0,ya,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0
4,15211099,Adrianti Varadina,Wanita,2011,3.14,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,10-2015,bandung,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
file_path_2018 = "cleaned_data_2018.xlsx"
df_2018.to_excel(file_path_2018, index=False)

# Understanding Data Tahun 2019

In [12]:
df_2019 = pd.read_excel("MasterDataTracer.xlsx", sheet_name=1)

In [13]:
df_2019.drop(df_2019.iloc[:,88:301], inplace=True, axis=1)

df_2019.head()

,NIM,Nama,Jenis Kelamin,Angkatan,IP,Fakultas/Sekolah,Program Studi,Bulan dan Tahun Wisuda,Kota,Provinsi (untuk luar Indonesia cukup tuliskan nama negara),...,Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [Other (describe)],"Setelah lulus dari perguruan tinggi, apakah Anda mengambil kursus atau pendidikan tambahan?","Jenis kursus apa yang Anda ambil? [piranti lunak aplikasi (Autocad, Oracle, SAS, dll)]",Jenis kursus apa yang Anda ambil? [bahasa inggris],Jenis kursus apa yang Anda ambil? [bahasa asing lainnya],Jenis kursus apa yang Anda ambil? [kesenian dan/atau keterampilan],Jenis kursus apa yang Anda ambil? [olah raga],Jenis kursus apa yang Anda ambil? [sertifikasi keahlian bidang keilmuan],Jenis kursus apa yang Anda ambil? [ilmu agama],Jenis kursus apa yang Anda ambil? [Other (describe)]
0,13612054,M H Ibnusina S Dewang,Pria,2012.0,3.54,Fakultas Teknik Mesin dan Dirgantara,Teknik Dirgantara,NaN,"Stockholm, Sweden",Luar Indonesia,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13612055,Iga Permata Putri Mentari,Wanita,2012.0,3.14,Fakultas Teknik Mesin dan Dirgantara,Teknik Dirgantara,NaN,Jakarta Pusat,Jakarta,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13612601,Mohammad Sugiyanto,Pria,2012.0,3.61,Fakultas Teknik Mesin dan Dirgantara,Teknik Dirgantara,NaN,Yogyakarta,Yogyakarta,...,NaN,ya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,International Test Pilots School Canada
3,13612063,Mikhael Gilang Pribadi Putra P,Pria,2012.0,3.09,Fakultas Teknik Mesin dan Dirgantara,Teknik Dirgantara,NaN,kab.bandung barat,Jawa Barat,...,NaN,ya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,pascasarjana
4,13612041,Yayom Dwi Laksmana,Pria,2012.0,3.35,Fakultas Teknik Mesin dan Dirgantara,Teknik Dirgantara,NaN,Malang,Jawa Timur,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_wisuda_pure_2012 = pd.read_excel("Wisuda.xlsx")

def check_fourth_and_fifth_chars_2012(value):
    str_value = str(value)
    return str_value[0] == "1" and str_value[3:5] == "12"

df_wisuda_2012 = df_wisuda_pure_2012[df_wisuda_pure_2012['NIM'].apply(check_fourth_and_fifth_chars_2012)]

df_wisuda_2012.drop(df_wisuda_2012.columns[[2, 3, 4, 5, 6]], axis=1, inplace=True)

wisuda_2012 = df_wisuda_2012.to_dict()
wisuda_nim_2012 = wisuda_2012['NIM']
wisuda_tgl_2012 = wisuda_2012['Seremoni Wisuda']

final_data_tgl_2012 = {}
for i in wisuda_nim_2012.keys():
    
    tgl = wisuda_tgl_2012[i].lower().replace('wisuda','').lstrip().split(' ')
    
    if 'april' in tgl[0]:
        tgl[0] = '04'
    elif 'october' in tgl[0]:
        tgl[0] = '10'
    elif 'july' in tgl[0]:
        tgl[0] = '07'
    
    result = ''.join([tgl[0],'-',tgl[-1]])
    final_data_tgl_2012[wisuda_nim_2012[i]] = result

for i in range(len(df_2019.index)):
    if df_2019.at[i, 'NIM'] in final_data_tgl_2012:
        df_2019.at[i, 'Bulan dan Tahun Wisuda'] = str(final_data_tgl_2012[df_2019.at[i, 'NIM']])

/tmp/ipykernel_23419/3571843230.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wisuda_2012.drop(df_wisuda_2012.columns[[2, 3, 4, 5, 6]], axis=1, inplace=True)

In [15]:
df_2019.at[1188, 'Bulan dan Tahun Wisuda'] = '10-2016'
df_2019.at[1198, 'Bulan dan Tahun Wisuda'] = '10-2016'
df_2019.at[2134, 'Bulan dan Tahun Wisuda'] = '10-2016'
df_2019.at[2224, 'Bulan dan Tahun Wisuda'] = '10-2016'
df_2019.at[2297, 'Bulan dan Tahun Wisuda'] = '10-2015'

In [16]:
df_2019['Kota'] = df_2019['Kota'].str.lower()
df_2019['Kota'] = df_2019['Kota'].str.replace('kabupaten','')
df_2019['Kota'] = df_2019['Kota'].str.replace('kab','')
df_2019['Kota'] = df_2019['Kota'].str.replace('kota','')
df_2019['Kota'] = df_2019['Kota'].str.replace('dki','')
df_2019['Kota'] = df_2019['Kota'].str.replace('city','')
df_2019['Kota'] = df_2019['Kota'].str.replace('administrasi','')
df_2019['Kota'] = df_2019['Kota'].str.replace('cibinong','')
df_2019['Kota'] = df_2019['Kota'].str.replace('cimahi utara','cimahi')
df_2019['Kota'] = df_2019['Kota'].str.replace('bandung barat','bandung')
df_2019['Kota'] = df_2019['Kota'].str.replace('tangsel','tangerang selatan')
df_2019['Kota'] = df_2019['Kota'].str.replace('tanggerang','tangerang')
df_2019['Kota'] = df_2019['Kota'].str.replace('karanganyar surakarta','surakarta')
df_2019['Kota'] = df_2019['Kota'].str.replace('korea selatan','')
df_2019['Kota'] = df_2019['Kota'].str.replace('netherlands','')
df_2019['Kota'] = df_2019['Kota'].str.replace('bbekasi','bekasi')
df_2019['Kota'] = df_2019['Kota'].str.replace('jalan bojong molek ii blok f21 no 15  bekasi','bekasi')
df_2019['Kota'] = df_2019['Kota'].str.replace('jaksel','jakarta selatan')
df_2019['Kota'] = df_2019['Kota'].str.replace('lippo','')
df_2019['Kota'] = df_2019['Kota'].str.replace('[^a-zA-Z0-9\s]', '', regex=True)
df_2019['Kota'] = df_2019['Kota'].str.lstrip()
df_2019['Kota'] = df_2019['Kota'].str.rstrip()

df_2019.at[70, 'Kota'] = 'jakarta pusat'
df_2019.at[84, 'Kota'] = 'bekasi'
df_2019.at[94, 'Kota'] = 'bandung'
df_2019.at[112, 'Kota'] = 'bandung'
df_2019.at[1359, 'Kota'] = 'jakarta pusat'
df_2019.at[1377, 'Kota'] = 'jakarta timur'
df_2019.at[1483, 'Kota'] = 'depok'

In [17]:
df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.lower()
df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace('kemhan','beasiswa')
df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace('sebagian ortu, sebagian beasiswa, sebagian cari uang sendiri','sebagian beasiswa')
df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace('%','')
df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace('+','')
df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace('20 beasiswa, 30 orang tua, 50 sendiri','biaya sendiri')
df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace('orang tua dibantu beasiswa','sebagian beasiswa')
df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace('sebagian orang tua, sebagian sendiri','orang tua/keluarga')
df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace('jualan paket internet','biaya sendiri')
df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace('bisnis bantuan keluarga','biaya sendiri')
df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace('(','')
df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace(')','')
df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace('sebagian orang tua sebagian kerja, sebagiannya lagi beasiswa 2 semester terakhir dapat iom','sebagian beasiswa')
df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace('sebagian  beasiswa, sisanya dari orang tua /keluarga','sebagian beasiswa')
df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace('bisnis  bantuan keluarga','biaya sendiri')
df_2019['Dari mana sumber utama biaya kuliah Anda?'].fillna('orang tua/keluarga', inplace=True)

/tmp/ipykernel_23419/2936901347.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace('+','')
/tmp/ipykernel_23419/2936901347.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace('(','')
/tmp/ipykernel_23419/2936901347.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_2019['Dari mana sumber utama biaya kuliah Anda?'] = df_2019['Dari mana sumber utama biaya kuliah Anda?'].str.replace(')','')

In [18]:
unique_value_2012 = df_2019['Dari mana sumber utama biaya kuliah Anda?'].unique()
print('Dari mana sumber utama biaya kuliah Anda?', " =", unique_value_2012)
print("Jumlah", 'Dari mana sumber utama biaya kuliah Anda?',  " =", len(unique_value_2012))
null_value_2012 = df_2019['Dari mana sumber utama biaya kuliah Anda?'].isna().sum()
print("Jumlah", 'Dari mana sumber utama biaya kuliah Anda?', "isna =", null_value_2012)

Dari mana sumber utama biaya kuliah Anda?  = ['orang tua/keluarga' 'beasiswa' 'sebagian beasiswa' 'biaya sendiri']
Jumlah Dari mana sumber utama biaya kuliah Anda?  = 4
Jumlah Dari mana sumber utama biaya kuliah Anda? isna = 0

In [19]:
org_unique_value_2012 = df_2019['Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)'].unique()
print('Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)', " =", org_unique_value_2012)
print("Jumlah", 'Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)',  " =", len(org_unique_value_2012))
org_null_value_2012 = df_2019['Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)'].isna().sum()
print("Jumlah", 'Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)', "isna =", org_null_value_2012)

Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)  = ['UKSS ITB' 'Percama, KMPN, Loedroek' 'Senat Mahasiswa ITB -TNI AU' ...
 'Lfm itb' 'FORUM MAHASISWA GARUT ITB' 'HMT - ITB']
Jumlah Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)  = 1057
Jumlah Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi) isna = 2

In [ ]:
file_path_2019 = "cleaned_data_2019.xlsx"
df_2019.to_excel(file_path_2019, index=False)

# Understanding Data Tahun 2020

In [20]:
df_2020 = pd.read_excel("MasterDataTracer.xlsx", sheet_name=2)

In [21]:
df_2020.drop(df_2020.iloc[:,88:301], inplace=True, axis=1)

df_2020.head()

,NIM,Nama,Jenis Kelamin,Angkatan,IP,Fakultas/Sekolah,Program Studi,Bulan dan Tahun Wisuda,Kota,Provinsi (untuk luar Indonesia cukup tuliskan nama negara),...,Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [Other (describe)],"Setelah lulus dari perguruan tinggi, apakah Anda mengambil kursus atau pendidikan tambahan?","Jenis kursus apa yang Anda ambil? [piranti lunak aplikasi (Autocad, Oracle, SAS, dll)]",Jenis kursus apa yang Anda ambil? [bahasa inggris],Jenis kursus apa yang Anda ambil? [bahasa asing lainnya],Jenis kursus apa yang Anda ambil? [kesenian dan/atau keterampilan],Jenis kursus apa yang Anda ambil? [olah raga],Jenis kursus apa yang Anda ambil? [sertifikasi keahlian bidang keilmuan],Jenis kursus apa yang Anda ambil? [ilmu agama],Jenis kursus apa yang Anda ambil? [Other (describe)]
0,15213040.0,Adisti Yonita Widiatami,Wanita,2013.0,3.53,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,NaN,Jakarta Pusat,Jakarta,...,0,ya,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1,15213074.0,Ahmad Nur Maksum,Pria,2013.0,3.37,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,NaN,Bandung (Kota),Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15213106.0,Alya Nadya,Wanita,2013.0,3.33,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,NaN,Bandung,Jawa Barat,...,0,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15213020.0,Andrew Cokro Putra,Pria,2013.0,3.67,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,NaN,Harapan Indah,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15213081.0,Andria Priscilla Langi,Wanita,2013.0,3.43,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,NaN,Bandung,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_wisuda_pure_2013 = pd.read_excel("Wisuda.xlsx")

def check_fourth_and_fifth_chars_2013(value):
    str_value = str(value)
    return str_value[0] == "1" and str_value[3:5] == "13"

df_wisuda_2013 = df_wisuda_pure_2013[df_wisuda_pure_2013['NIM'].apply(check_fourth_and_fifth_chars_2013)]

df_wisuda_2013.drop(df_wisuda_2013.columns[[2, 3, 4, 5, 6]], axis=1, inplace=True)

wisuda_2013 = df_wisuda_2013.to_dict()
wisuda_nim_2013 = wisuda_2013['NIM']
wisuda_tgl_2013 = wisuda_2013['Seremoni Wisuda']

final_data_tgl_2013 = {}
for i in wisuda_nim_2013.keys():
    
    tgl = wisuda_tgl_2013[i].lower().replace('wisuda','').lstrip().split(' ')
    
    if 'april' in tgl[0]:
        tgl[0] = '04'
    elif 'october' in tgl[0]:
        tgl[0] = '10'
    elif 'july' in tgl[0]:
        tgl[0] = '07'
    
    result = ''.join([tgl[0],'-',tgl[-1]])
    final_data_tgl_2013[wisuda_nim_2013[i]] = result

for i in range(len(df_2020.index)):
    if df_2020.at[i, 'NIM'] in final_data_tgl_2013:
        df_2020.at[i, 'Bulan dan Tahun Wisuda'] = str(final_data_tgl_2013[df_2020.at[i, 'NIM']])

df_2020.head()

/tmp/ipykernel_23419/641468055.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wisuda_2013.drop(df_wisuda_2013.columns[[2, 3, 4, 5, 6]], axis=1, inplace=True)

,NIM,Nama,Jenis Kelamin,Angkatan,IP,Fakultas/Sekolah,Program Studi,Bulan dan Tahun Wisuda,Kota,Provinsi (untuk luar Indonesia cukup tuliskan nama negara),...,Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [Other (describe)],"Setelah lulus dari perguruan tinggi, apakah Anda mengambil kursus atau pendidikan tambahan?","Jenis kursus apa yang Anda ambil? [piranti lunak aplikasi (Autocad, Oracle, SAS, dll)]",Jenis kursus apa yang Anda ambil? [bahasa inggris],Jenis kursus apa yang Anda ambil? [bahasa asing lainnya],Jenis kursus apa yang Anda ambil? [kesenian dan/atau keterampilan],Jenis kursus apa yang Anda ambil? [olah raga],Jenis kursus apa yang Anda ambil? [sertifikasi keahlian bidang keilmuan],Jenis kursus apa yang Anda ambil? [ilmu agama],Jenis kursus apa yang Anda ambil? [Other (describe)]
0,15213040.0,Adisti Yonita Widiatami,Wanita,2013.0,3.53,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,04-2018,Jakarta Pusat,Jakarta,...,0,ya,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1,15213074.0,Ahmad Nur Maksum,Pria,2013.0,3.37,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,10-2017,Bandung (Kota),Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15213106.0,Alya Nadya,Wanita,2013.0,3.33,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,10-2017,Bandung,Jawa Barat,...,0,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15213020.0,Andrew Cokro Putra,Pria,2013.0,3.67,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,04-2018,Harapan Indah,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15213081.0,Andria Priscilla Langi,Wanita,2013.0,3.43,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,10-2017,Bandung,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df_2020.at[2006, 'Bulan dan Tahun Wisuda'] = '04-2018'
df_2020.at[2029, 'Bulan dan Tahun Wisuda'] = '07-2017'

In [24]:
df_2020[df_2020['Bulan dan Tahun Wisuda'].isnull()]

,NIM,Nama,Jenis Kelamin,Angkatan,IP,Fakultas/Sekolah,Program Studi,Bulan dan Tahun Wisuda,Kota,Provinsi (untuk luar Indonesia cukup tuliskan nama negara),...,Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [Other (describe)],"Setelah lulus dari perguruan tinggi, apakah Anda mengambil kursus atau pendidikan tambahan?","Jenis kursus apa yang Anda ambil? [piranti lunak aplikasi (Autocad, Oracle, SAS, dll)]",Jenis kursus apa yang Anda ambil? [bahasa inggris],Jenis kursus apa yang Anda ambil? [bahasa asing lainnya],Jenis kursus apa yang Anda ambil? [kesenian dan/atau keterampilan],Jenis kursus apa yang Anda ambil? [olah raga],Jenis kursus apa yang Anda ambil? [sertifikasi keahlian bidang keilmuan],Jenis kursus apa yang Anda ambil? [ilmu agama],Jenis kursus apa yang Anda ambil? [Other (describe)]
1357,18213035.0,Ifan Ramadhan Zaki,Pria,2013.0,NaN,Sekolah Teknik Elektro dan Informatika,Sistem dan Teknologi Informasi,NaN,Bandung,Jawa Barat,...,NaN,ya,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1359,18213027.0,Irfan Gunawan,Pria,2013.0,2.56,Sekolah Teknik Elektro dan Informatika,Sistem dan Teknologi Informasi,NaN,Bandung,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ya,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
2993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ya,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
2994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ya,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
2995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ya,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
2997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ya,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,ya,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
3002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ya,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
3004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_2020['Kota'] = df_2020['Kota'].str.lower()
df_2020['Kota'] = df_2020['Kota'].str.replace('kabupaten','')
df_2020['Kota'] = df_2020['Kota'].str.replace('kab','')
df_2020['Kota'] = df_2020['Kota'].str.replace('kota','')
df_2020['Kota'] = df_2020['Kota'].str.replace('dki','')
df_2020['Kota'] = df_2020['Kota'].str.replace('city','')
df_2020['Kota'] = df_2020['Kota'].str.replace('administrasi','')
df_2020['Kota'] = df_2020['Kota'].str.replace('cibinong','')
df_2020['Kota'] = df_2020['Kota'].str.replace('cimahi utara','cimahi')
df_2020['Kota'] = df_2020['Kota'].str.replace('bandung barat','bandung')
df_2020['Kota'] = df_2020['Kota'].str.replace('tangsel','tangerang selatan')
df_2020['Kota'] = df_2020['Kota'].str.replace('tanggerang','tangerang')
df_2020['Kota'] = df_2020['Kota'].str.replace('karanganyar surakarta','surakarta')
df_2020['Kota'] = df_2020['Kota'].str.replace('korea selatan','')
df_2020['Kota'] = df_2020['Kota'].str.replace('netherlands','')
df_2020['Kota'] = df_2020['Kota'].str.replace('bbekasi','bekasi')
df_2020['Kota'] = df_2020['Kota'].str.replace('jaksel','jakarta selatan')
df_2020['Kota'] = df_2020['Kota'].str.replace('lippo','')
df_2020['Kota'] = df_2020['Kota'].str.replace('[^a-zA-Z0-9\s]', '', regex=True)
df_2020['Kota'] = df_2020['Kota'].str.lstrip()
df_2020['Kota'] = df_2020['Kota'].str.rstrip()

In [35]:
df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.lower()
df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace('kombinasi bessiswa dan dari orang tua','sebagian beasiswa')
df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace('sebagian orang tua dan sebagian biaya sendiri','biaya sendiri')
df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace('keluarga plus beasiswa','sebagian beasiswa')
df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace('orang tua dan beasiswa','sebagian beasiswa')
df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace('beasiswa, dan orang tua','sebagian beasiswa')
df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace('beasiswa 8 semester, orangtua 2 semester terakhir','beasiswa')
df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace('pendanaan lembaga swasta','beasiswa')
df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace('beasiswa dan kerja','beasiswa')
df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace('orang tua & beasiswa','sebagian beasiswa')
df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace('%','')
df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace('+','')
df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace('(','')
df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace(')','')
df_2020['Dari mana sumber utama biaya kuliah Anda?'].fillna('orang tua/keluarga', inplace=True)

/tmp/ipykernel_23419/131271420.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace('+','')
/tmp/ipykernel_23419/131271420.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace('(','')
/tmp/ipykernel_23419/131271420.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_2020['Dari mana sumber utama biaya kuliah Anda?'] = df_2020['Dari mana sumber utama biaya kuliah Anda?'].str.replace(')','')

In [36]:
unique_value_2013 = df_2020['Dari mana sumber utama biaya kuliah Anda?'].unique()
print('Dari mana sumber utama biaya kuliah Anda?', " =", unique_value_2013)
print("Jumlah", 'Dari mana sumber utama biaya kuliah Anda?',  " =", len(unique_value_2013))
null_value_2013 = df_2020['Dari mana sumber utama biaya kuliah Anda?'].isna().sum()
print("Jumlah", 'Dari mana sumber utama biaya kuliah Anda?', "isna =", null_value_2013)

Dari mana sumber utama biaya kuliah Anda?  = ['orang tua/keluarga' 'beasiswa' 'sebagian beasiswa' 'biaya sendiri']
Jumlah Dari mana sumber utama biaya kuliah Anda?  = 4
Jumlah Dari mana sumber utama biaya kuliah Anda? isna = 0

In [37]:
org_unique_value_2013 = df_2020['Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)'].unique()
print('Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)', " =", org_unique_value_2013)
print("Jumlah", 'Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)',  " =", len(org_unique_value_2013))
org_null_value_2013 = df_2020['Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)'].isna().sum()
print("Jumlah", 'Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)', "isna =", org_null_value_2013)

Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)  = ['IMA-G ITB' 'IMAG-ITB' 'IMA-G' ... 'KM ITB dan Perisai Diri ITB'
 'HMTG GEA, KM ITB' 'Boulevard']
Jumlah Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)  = 1090
Jumlah Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi) isna = 6

In [38]:
file_path_2020 = "cleaned_data_2020.xlsx"
df_2020.to_excel(file_path_2020, index=False)

,NIM,Nama,Jenis Kelamin,Angkatan,IP,Fakultas/Sekolah,Program Studi,Bulan dan Tahun Wisuda,Kota,Provinsi (untuk luar Indonesia cukup tuliskan nama negara),...,Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [Other (describe)],"Setelah lulus dari perguruan tinggi, apakah Anda mengambil kursus atau pendidikan tambahan?","Jenis kursus apa yang Anda ambil? [piranti lunak aplikasi (Autocad, Oracle, SAS, dll)]",Jenis kursus apa yang Anda ambil? [bahasa inggris],Jenis kursus apa yang Anda ambil? [bahasa asing lainnya],Jenis kursus apa yang Anda ambil? [kesenian dan/atau keterampilan],Jenis kursus apa yang Anda ambil? [olah raga],Jenis kursus apa yang Anda ambil? [sertifikasi keahlian bidang keilmuan],Jenis kursus apa yang Anda ambil? [ilmu agama],Jenis kursus apa yang Anda ambil? [Other (describe)]
0,15213040.0,Adisti Yonita Widiatami,Wanita,2013.0,3.53,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,04-2018,jakarta pusat,Jakarta,...,0,ya,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1,15213074.0,Ahmad Nur Maksum,Pria,2013.0,3.37,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,10-2017,bandung,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15213106.0,Alya Nadya,Wanita,2013.0,3.33,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,10-2017,bandung,Jawa Barat,...,0,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15213020.0,Andrew Cokro Putra,Pria,2013.0,3.67,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,04-2018,harapan indah,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15213081.0,Andria Priscilla Langi,Wanita,2013.0,3.43,"Sekolah Arsitektur, Perencanaan dan Pengembang...",Arsitektur,10-2017,bandung,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Understanding Data Tahun 2021

In [47]:
df_2021 = pd.read_excel("MasterDataTracer.xlsx", sheet_name=3)

In [48]:
df_2021.drop(df_2021.iloc[:,88:301], inplace=True, axis=1)

df_2021.head()

,NIM,Nama,Jenis Kelamin,Angkatan,IP,Fakultas/Sekolah,Program Studi,Bulan dan Tahun Wisuda,Kota,Provinsi (untuk luar Indonesia cukup tuliskan nama negara),...,Jenis kursus apa yang Anda ambil? [bahasa asing lainnya],Jenis kursus apa yang Anda ambil? [kesenian dan/atau keterampilan],Jenis kursus apa yang Anda ambil? [olah raga],Jenis kursus apa yang Anda ambil? [sertifikasi keahlian bidang keilmuan],Jenis kursus apa yang Anda ambil? [ilmu agama],Seberapa besar kompetensi di bawah ini Anda kuasai? [memecahkan masalah kompleks],Seberapa besar kompetensi di bawah ini Anda kuasai? [berpikir kritis],Seberapa besar kompetensi di bawah ini Anda kuasai? [inovasi dan/atau kreatifitas],Seberapa besar kompetensi di bawah ini Anda kuasai? [manajemen diri dan orang lain],Seberapa besar kompetensi di bawah ini Anda kuasai? [bekerja tim]
0,11414058,Ira Indira Putri,Wanita,2014,3.61,Sekolah Ilmu dan Teknologi Hayati,Rekayasa Pertanian,2018-10-01 00:00:00,Sumedang,Jawa Barat,...,NaN,NaN,NaN,NaN,NaN,5,5,4,2,4
1,10114063,Ramdani,Pria,2014,3.63,Fakultas Matematika dan Ilmu Pengetahuan Alam,Matematika,2019-04-01 00:00:00,Jakarta,DKI Jakarta,...,NaN,NaN,NaN,NaN,NaN,5,5,4,4,4
2,11414018,Kresentia Listy Andani,Wanita,2014,3.46,Sekolah Ilmu dan Teknologi Hayati,Rekayasa Pertanian,2018-10-01 00:00:00,NaN,Jawa Barat,...,0.0,0.0,0.0,1.0,0.0,4,4,4,4,4
3,12514021,Muhammad Iqbal Hilmi,Pria,2014,3.54,Fakultas Teknik Pertambangan dan Perminyakan,Teknik Metalurgi,2018-07-01 00:00:00,Bandung City,Jawa Barat,...,NaN,NaN,NaN,NaN,NaN,5,5,5,5,5
4,10214061,Danny Eka Putra Kinarwan,Pria,2014,3.45,Fakultas Matematika dan Ilmu Pengetahuan Alam,Fisika,2018-10-01 00:00:00,Tangerang,Banten,...,NaN,NaN,NaN,NaN,NaN,4,4,2,4,4

In [49]:
df_wisuda_pure_2014 = pd.read_excel("Wisuda.xlsx")

def check_fourth_and_fifth_chars_2014(value):
    str_value = str(value)
    return str_value[0] == "1" and str_value[3:5] == "14"

df_wisuda_2014 = df_wisuda_pure_2014[df_wisuda_pure_2014['NIM'].apply(check_fourth_and_fifth_chars_2014)]

df_wisuda_2014.drop(df_wisuda_2014.columns[[2, 3, 4, 5, 6]], axis=1, inplace=True)

wisuda_2014 = df_wisuda_2014.to_dict()
wisuda_nim_2014 = wisuda_2014['NIM']
wisuda_tgl_2014 = wisuda_2014['Seremoni Wisuda']

final_data_tgl_2014 = {}
for i in wisuda_nim_2014.keys():
    
    tgl = wisuda_tgl_2014[i].lower().replace('wisuda','').lstrip().split(' ')
    
    if 'april' in tgl[0]:
        tgl[0] = '04'
    elif 'october' in tgl[0]:
        tgl[0] = '10'
    elif 'july' in tgl[0]:
        tgl[0] = '07'
    
    result = ''.join([tgl[0],'-',tgl[-1]])
    final_data_tgl_2014[wisuda_nim_2014[i]] = result

for i in range(len(df_2021.index)):
    if df_2021.at[i, 'NIM'] in final_data_tgl_2014:
        df_2021.at[i, 'Bulan dan Tahun Wisuda'] = str(final_data_tgl_2014[df_2021.at[i, 'NIM']])

df_2021.head()

/tmp/ipykernel_23419/3733524023.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wisuda_2014.drop(df_wisuda_2014.columns[[2, 3, 4, 5, 6]], axis=1, inplace=True)

,NIM,Nama,Jenis Kelamin,Angkatan,IP,Fakultas/Sekolah,Program Studi,Bulan dan Tahun Wisuda,Kota,Provinsi (untuk luar Indonesia cukup tuliskan nama negara),...,Jenis kursus apa yang Anda ambil? [bahasa asing lainnya],Jenis kursus apa yang Anda ambil? [kesenian dan/atau keterampilan],Jenis kursus apa yang Anda ambil? [olah raga],Jenis kursus apa yang Anda ambil? [sertifikasi keahlian bidang keilmuan],Jenis kursus apa yang Anda ambil? [ilmu agama],Seberapa besar kompetensi di bawah ini Anda kuasai? [memecahkan masalah kompleks],Seberapa besar kompetensi di bawah ini Anda kuasai? [berpikir kritis],Seberapa besar kompetensi di bawah ini Anda kuasai? [inovasi dan/atau kreatifitas],Seberapa besar kompetensi di bawah ini Anda kuasai? [manajemen diri dan orang lain],Seberapa besar kompetensi di bawah ini Anda kuasai? [bekerja tim]
0,11414058,Ira Indira Putri,Wanita,2014,3.61,Sekolah Ilmu dan Teknologi Hayati,Rekayasa Pertanian,10-2018,Sumedang,Jawa Barat,...,NaN,NaN,NaN,NaN,NaN,5,5,4,2,4
1,10114063,Ramdani,Pria,2014,3.63,Fakultas Matematika dan Ilmu Pengetahuan Alam,Matematika,04-2019,Jakarta,DKI Jakarta,...,NaN,NaN,NaN,NaN,NaN,5,5,4,4,4
2,11414018,Kresentia Listy Andani,Wanita,2014,3.46,Sekolah Ilmu dan Teknologi Hayati,Rekayasa Pertanian,10-2018,NaN,Jawa Barat,...,0.0,0.0,0.0,1.0,0.0,4,4,4,4,4
3,12514021,Muhammad Iqbal Hilmi,Pria,2014,3.54,Fakultas Teknik Pertambangan dan Perminyakan,Teknik Metalurgi,07-2018,Bandung City,Jawa Barat,...,NaN,NaN,NaN,NaN,NaN,5,5,5,5,5
4,10214061,Danny Eka Putra Kinarwan,Pria,2014,3.45,Fakultas Matematika dan Ilmu Pengetahuan Alam,Fisika,10-2018,Tangerang,Banten,...,NaN,NaN,NaN,NaN,NaN,4,4,2,4,4

In [57]:
df_2021[df_2021['Bulan dan Tahun Wisuda'].isnull()]

Empty DataFrame
Columns: [NIM, Nama, Jenis Kelamin, Angkatan, IP, Fakultas/Sekolah, Program Studi, Bulan dan Tahun Wisuda, Kota, Provinsi (untuk luar Indonesia cukup tuliskan nama negara), Apakah Anda setuju jika sistem penerimaan mahasiswa baru ITB melalui jalur fakultas/sekolah (pada tahun pertama) seperti yang Anda alami?, (i) Alasannya?, Apakah Anda saat penjurusan (di tahun kedua) masuk ke Prodi pilihan pertama?, Menurut Anda, apabila di tahun kedua masuk ke Prodi yang bukan pilihan pertama apakah akan mengganggu/menghambat perkuliahan Anda?, (ii) Alasannya?, Menurut Anda, apabila di tahun kedua masuk ke Prodi yang bukan pilihan pertama apakah akan mengganggu/menghambat karir awal Anda?, (iv) Alasannya?, Selama kuliah di ITB, apakah Anda pernah memperoleh beasiswa bidikmisi?, Apakah Anda mendapatkan beasiswa bidikmisi secara penuh?, Digunakan untuk keperluan apa saja beasiswa bidikmisi yang Anda peroleh? (jawaban bisa lebih dari 1) [Biaya hidup sehari-hari (diri pribadi)], Digunakan untuk keperluan apa saja beasiswa bidikmisi yang Anda peroleh? (jawaban bisa lebih dari 1) [Biaya hidup keluarga], Digunakan untuk keperluan apa saja beasiswa bidikmisi yang Anda peroleh? (jawaban bisa lebih dari 1) [Biaya pendidikan], Apakah beasiswa bidikmisi yang Anda peroleh mencukupi untuk kebutuhan sehari-hari hingga lulus kuliah?, Apakah selama kuliah Anda mencari penghasilan tambahan di luar beasiswa bidikmisi yang diperoleh?, Apa yang Anda lakukan untuk memperoleh penghasilan tambahan tersebut? (jawaban bisa lebih dari 1) [Mengajar/kursus], Apa yang Anda lakukan untuk memperoleh penghasilan tambahan tersebut? (jawaban bisa lebih dari 1) [Jualan], Apa yang Anda lakukan untuk memperoleh penghasilan tambahan tersebut? (jawaban bisa lebih dari 1) [Asisten dosen], Apa yang Anda lakukan untuk memperoleh penghasilan tambahan tersebut? (jawaban bisa lebih dari 1) [Magang], Apakah setelah Anda lulus kuliah, keluarga (orang tua dan/atau saudara kandung) menjadi tanggungan anda?, Berasal dari mana biaya yang digunakan untuk membiayai keluarga tersebut?, Apakah Anda saat ini kembali ke daerah asal?, Kenapa Anda kembali ke daerah asal?, Kenapa Anda tidak kembali ke daerah asal?, Seberapa besar penekanan pada aspek-aspek pembelajaran di bawah ini dilaksanakan di program studi Anda? [perkuliahan], Seberapa besar penekanan pada aspek-aspek pembelajaran di bawah ini dilaksanakan di program studi Anda? [demonstrasi/peragaan], Seberapa besar penekanan pada aspek-aspek pembelajaran di bawah ini dilaksanakan di program studi Anda? [partisipasi dalam proyek riset], Seberapa besar penekanan pada aspek-aspek pembelajaran di bawah ini dilaksanakan di program studi Anda? [magang], Seberapa besar penekanan pada aspek-aspek pembelajaran di bawah ini dilaksanakan di program studi Anda? [praktikum kerja lapangan], Seberapa besar penekanan pada aspek-aspek pembelajaran di bawah ini dilaksanakan di program studi Anda? [diskusi], Bagaimana penilaian Anda terhadap aspek belajar mengajar di bawah ini? [kesempatan untuk berinteraksi dengan dosen-dosen di luar jadwal kuliah], Bagaimana penilaian Anda terhadap aspek belajar mengajar di bawah ini? [bimbingan akademik], Bagaimana penilaian Anda terhadap aspek belajar mengajar di bawah ini? [kondisi ruang belajar], Bagaimana penilaian Anda terhadap aspek belajar mengajar di bawah ini? [variasi mata kuliah], Bagaimana penilaian Anda terhadap aspek belajar mengajar di bawah ini? [kesempatan untuk memasuki dan menjadi bagian dari jejaring ilmuwan profesional], Bagaimana penilaian Anda terhadap aspek belajar mengajar di bawah ini? [kesempatan beasiswa], Seberapa besar program studi Anda bermanfaat untuk hal-hal di bawah ini? [memulai pekerjaan], Seberapa besar program studi Anda bermanfaat untuk hal-hal di bawah ini? [pembelajaran yang berkelanjutan dalam pekerjaan], Seberapa besar program studi Anda bermanfaat untuk hal-hal di bawah ini? [kinerja dalam menjalankan tugas], Seberapa besar program studi Anda bermanfaat untuk hal-hal di bawah ini? [informasi karir dan peluang kerja], Seberapa besar program studi Anda bermanfaat untuk hal-hal di bawah ini? [pengembangan diri], Seberapa besar program studi Anda bermanfaat untuk hal-hal di bawah ini? [meningkatkan keterampilan kewirausahaan], Dari mana sumber utama biaya kuliah Anda?, Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Himpunan program studi], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Unit kesenian dan kebudayaan], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Unit olahraga dan kesehatan], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Unit keagamaan], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Unit keilmuan], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Unit pendidikan], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Unit media], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Kabinet KM-ITB], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Paguyuban daerah], Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi), Seberapa aktif Anda di Organisasi tersebut?, Sebutkan jenis kegiatan di organisasi yang aktif diikuti yang membantu mengasah kemampuan/skill Anda!, Apakah Anda lulus tepat waktu?, Apa alasan utama yang menyebabkan Anda tidak lulus tepat waktu?, Pada saat kuliah di perguruan tinggi, apakah Anda mengambil kursus atau pendidikan tambahan?, Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [bimbingan belajar mata kuliah], Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [piranti lunak aplikasi (Autocad, Oracle, SAS, dll)], Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [bahasa inggris], Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [bahasa asing lainnya], Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [kesenian dan/atau keterampilan], Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [olah raga], Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [sertifikasi keahlian bidang keilmuan], Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [ilmu agama], Setelah lulus dari perguruan tinggi, apakah Anda mengambil kursus atau pendidikan tambahan?, Jenis kursus apa yang Anda ambil? [piranti lunak aplikasi (Autocad, Oracle, SAS, dll)], Jenis kursus apa yang Anda ambil? [bahasa inggris], Jenis kursus apa yang Anda ambil? [bahasa asing lainnya], Jenis kursus apa yang Anda ambil? [kesenian dan/atau keterampilan], Jenis kursus apa yang Anda ambil? [olah raga], Jenis kursus apa yang Anda ambil? [sertifikasi keahlian bidang keilmuan], Jenis kursus apa yang Anda ambil? [ilmu agama], Seberapa besar kompetensi di bawah ini Anda kuasai? [memecahkan masalah kompleks], Seberapa besar kompetensi di bawah ini Anda kuasai? [berpikir kritis], Seberapa besar kompetensi di bawah ini Anda kuasai? [inovasi dan/atau kreatifitas], Seberapa besar kompetensi di bawah ini Anda kuasai? [manajemen diri dan orang lain], Seberapa besar kompetensi di bawah ini Anda kuasai? [bekerja tim]]
Index: []

[0 rows x 88 columns]

In [60]:
df_2021['Kota'] = df_2021['Kota'].str.lower()
df_2021['Kota'] = df_2021['Kota'].str.replace('kabupaten','')
df_2021['Kota'] = df_2021['Kota'].str.replace('kab','')
df_2021['Kota'] = df_2021['Kota'].str.replace('kota','')
df_2021['Kota'] = df_2021['Kota'].str.replace('dki','')
df_2021['Kota'] = df_2021['Kota'].str.replace('city','')
df_2021['Kota'] = df_2021['Kota'].str.replace('administrasi','')
df_2021['Kota'] = df_2021['Kota'].str.replace('cibinong','')
df_2021['Kota'] = df_2021['Kota'].str.replace('cimahi utara','cimahi')
df_2021['Kota'] = df_2021['Kota'].str.replace('bandung barat','bandung')
df_2021['Kota'] = df_2021['Kota'].str.replace('tangsel','tangerang selatan')
df_2021['Kota'] = df_2021['Kota'].str.replace('tanggerang','tangerang')
df_2021['Kota'] = df_2021['Kota'].str.replace('karanganyar surakarta','surakarta')
df_2021['Kota'] = df_2021['Kota'].str.replace('korea selatan','')
df_2021['Kota'] = df_2021['Kota'].str.replace('netherlands','')
df_2021['Kota'] = df_2021['Kota'].str.replace('bbekasi','bekasi')
df_2021['Kota'] = df_2021['Kota'].str.replace('jaksel','jakarta selatan')
df_2021['Kota'] = df_2021['Kota'].str.replace('lippo','')
df_2021['Kota'] = df_2021['Kota'].str.replace('[^a-zA-Z0-9\s]', '', regex=True)
df_2021['Kota'] = df_2021['Kota'].str.lstrip()
df_2021['Kota'] = df_2021['Kota'].str.rstrip()

In [67]:
df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.lower()
df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('%','')
df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('+','')
df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('(','')
df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace(')','')
df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('orang tua dan beasiswa','sebagian beasiswa')
df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('dari orang tua dan beasiswa keringanan pembayaran ukt','sebagian beasiswa')
df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('beasiswa dari semester kedua sampai hampir lulus, oleh sanbe farma, sisanya sendiri dan orang tua','sebagian beasiswa')
df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('tahun 1-3 menggunakan biaya dari orangtua sementara tahun ke-4 menggunakan beasiswa dari pt. chandra asri petrochemical','sebagian beasiswa')
df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('orangtua, biaya sendiri, beasiswa','sebagian beasiswa')
df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('beasiswa dan orang tua','sebagian beasiswa')
df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('orang tua/keluarga dan sendiri','orang tua/keluarga')
df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('pembebasan ukt','beasiswa')
df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('too private to be disclosed','beasiswa')
df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('dari sebagian beasiswa keringanan pembayaran ukt','sebagian beasiswa')
df_2021['Dari mana sumber utama biaya kuliah Anda?'].fillna('orang tua/keluarga', inplace=True)

/tmp/ipykernel_23419/2727369624.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('+','')
/tmp/ipykernel_23419/2727369624.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('(','')
/tmp/ipykernel_23419/2727369624.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace(')','')
/tmp/ipykernel_23419/2727369624.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df_2021['Dari mana sumber utama biaya kuliah Anda?'] = df_2021['Dari mana sumber utama biaya kuliah Anda?'].str.replace('tahun 1-3 menggunakan biaya dari orangtua sementara tahun ke-4 menggunakan beasiswa dari pt. chandra asri petrochemical','sebagian beasiswa')

In [68]:
unique_value_2014 = df_2021['Dari mana sumber utama biaya kuliah Anda?'].unique()
print('Dari mana sumber utama biaya kuliah Anda?', " =", unique_value_2014)
print("Jumlah", 'Dari mana sumber utama biaya kuliah Anda?',  " =", len(unique_value_2014))
null_value_2014 = df_2021['Dari mana sumber utama biaya kuliah Anda?'].isna().sum()
print("Jumlah", 'Dari mana sumber utama biaya kuliah Anda?', "isna =", null_value_2014)

Dari mana sumber utama biaya kuliah Anda?  = ['sebagian beasiswa' 'beasiswa' 'orang tua/keluarga' 'biaya sendiri']
Jumlah Dari mana sumber utama biaya kuliah Anda?  = 4
Jumlah Dari mana sumber utama biaya kuliah Anda? isna = 0

In [69]:
org_unique_value_2014 = df_2021['Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)'].unique()
print('Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)', " =", org_unique_value_2014)
print("Jumlah", 'Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)',  " =", len(org_unique_value_2014))
org_null_value_2014 = df_2021['Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)'].isna().sum()
print("Jumlah", 'Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)', "isna =", org_null_value_2014)

Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)  = ['Himpunan Mahasiswa Rekayasa Pertanian' 'HIMATIKA ITB'
 'Liga Film Mahasiswa' ... 'Pers Mahasiswa' 'Himamikro “Archaea”' ' .']
Jumlah Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)  = 1376
Jumlah Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi) isna = 1

In [ ]:
file_path_2021 = "cleaned_data_2021.xlsx"
df_2021.to_excel(file_path_2021, index=False)

# Understanding Data Tahun 2022

In [70]:
df_2022 = pd.read_excel("MasterDataTracer.xlsx", sheet_name=4)

In [71]:
df_2022.drop(df_2022.iloc[:,88:301], inplace=True, axis=1)

df_2022.head()

,NIM,Nama,Jenis Kelamin,Angkatan,IP,Fakultas/Sekolah,Program Studi,Bulan dan Tahun Wisuda,Kota,Provinsi (untuk luar Indonesia cukup tuliskan nama negara),...,Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [Other (describe)],"Setelah lulus dari perguruan tinggi, apakah Anda mengambil kursus atau pendidikan tambahan?","Jenis kursus apa yang Anda ambil? [piranti lunak aplikasi (Autocad, Oracle, SAS, dll)]",Jenis kursus apa yang Anda ambil? [bahasa inggris],Jenis kursus apa yang Anda ambil? [bahasa asing lainnya],Jenis kursus apa yang Anda ambil? [kesenian dan/atau keterampilan],Jenis kursus apa yang Anda ambil? [olah raga],Jenis kursus apa yang Anda ambil? [sertifikasi keahlian bidang keilmuan],Jenis kursus apa yang Anda ambil? [ilmu agama],Jenis kursus apa yang Anda ambil? [Other (describe)]
0,12115085,Alexander,Pria,2015,3.13,Fakultas Teknik Pertambangan dan Perminyakan,Teknik Pertambangan,2019-10,Medan,Sumatera Utara,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13515062,Devin Alvaro,Pria,2015,3.57,Sekolah Teknik Elektro dan Informatika,Teknik Informatika,2019-07,NaN,Singapura,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13515133,Turfa Auliarachman,Pria,2015,3.52,Sekolah Teknik Elektro dan Informatika,Teknik Informatika,2019-07,NaN,Singapura,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15115052,Ahmad Abdul Aziz,Pria,2015,3.74,Fakultas Ilmu dan Teknologi Kebumian,Teknik Geodesi dan Geomatika,2019-07,Bekasi,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13515031,Vigor Akbar,Pria,2015,3.27,Sekolah Teknik Elektro dan Informatika,Teknik Informatika,2019-07,NaN,Singapore,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df_wisuda_pure_2015 = pd.read_excel("Wisuda.xlsx")

def check_fourth_and_fifth_chars_2015(value):
    str_value = str(value)
    return str_value[0] == "1" and str_value[3:5] == "15"

df_wisuda_2015 = df_wisuda_pure_2015[df_wisuda_pure_2015['NIM'].apply(check_fourth_and_fifth_chars_2015)]

df_wisuda_2015.drop(df_wisuda_2015.columns[[2, 3, 4, 5, 6]], axis=1, inplace=True)

wisuda_2015 = df_wisuda_2015.to_dict()
wisuda_nim_2015 = wisuda_2015['NIM']
wisuda_tgl_2015 = wisuda_2015['Seremoni Wisuda']

final_data_tgl_2015 = {}
for i in wisuda_nim_2015.keys():
    
    tgl = wisuda_tgl_2015[i].lower().replace('wisuda','').lstrip().split(' ')
    
    if 'april' in tgl[0]:
        tgl[0] = '04'
    elif 'october' in tgl[0]:
        tgl[0] = '10'
    elif 'oktober' in tgl[0]:
        tgl[0] = '10'
    elif 'july' in tgl[0]:
        tgl[0] = '07'
    
    result = ''.join([tgl[0],'-',tgl[-1]])
    final_data_tgl_2015[wisuda_nim_2015[i]] = result

for i in range(len(df_2022.index)):
    if df_2022.at[i, 'NIM'] in final_data_tgl_2015:
        df_2022.at[i, 'Bulan dan Tahun Wisuda'] = str(final_data_tgl_2015[df_2022.at[i, 'NIM']])

df_2022.head()

/tmp/ipykernel_23419/2768570082.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wisuda_2015.drop(df_wisuda_2015.columns[[2, 3, 4, 5, 6]], axis=1, inplace=True)

,NIM,Nama,Jenis Kelamin,Angkatan,IP,Fakultas/Sekolah,Program Studi,Bulan dan Tahun Wisuda,Kota,Provinsi (untuk luar Indonesia cukup tuliskan nama negara),...,Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [Other (describe)],"Setelah lulus dari perguruan tinggi, apakah Anda mengambil kursus atau pendidikan tambahan?","Jenis kursus apa yang Anda ambil? [piranti lunak aplikasi (Autocad, Oracle, SAS, dll)]",Jenis kursus apa yang Anda ambil? [bahasa inggris],Jenis kursus apa yang Anda ambil? [bahasa asing lainnya],Jenis kursus apa yang Anda ambil? [kesenian dan/atau keterampilan],Jenis kursus apa yang Anda ambil? [olah raga],Jenis kursus apa yang Anda ambil? [sertifikasi keahlian bidang keilmuan],Jenis kursus apa yang Anda ambil? [ilmu agama],Jenis kursus apa yang Anda ambil? [Other (describe)]
0,12115085,Alexander,Pria,2015,3.13,Fakultas Teknik Pertambangan dan Perminyakan,Teknik Pertambangan,10-2019,Medan,Sumatera Utara,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13515062,Devin Alvaro,Pria,2015,3.57,Sekolah Teknik Elektro dan Informatika,Teknik Informatika,07-2019,NaN,Singapura,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13515133,Turfa Auliarachman,Pria,2015,3.52,Sekolah Teknik Elektro dan Informatika,Teknik Informatika,07-2019,NaN,Singapura,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15115052,Ahmad Abdul Aziz,Pria,2015,3.74,Fakultas Ilmu dan Teknologi Kebumian,Teknik Geodesi dan Geomatika,07-2019,Bekasi,Jawa Barat,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13515031,Vigor Akbar,Pria,2015,3.27,Sekolah Teknik Elektro dan Informatika,Teknik Informatika,07-2019,NaN,Singapore,...,NaN,tidak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
df_2022[df_2022['Bulan dan Tahun Wisuda'].isnull()]

Empty DataFrame
Columns: [NIM, Nama, Jenis Kelamin, Angkatan, IP, Fakultas/Sekolah, Program Studi, Bulan dan Tahun Wisuda, Kota, Provinsi (untuk luar Indonesia cukup tuliskan nama negara), Apakah Anda setuju jika sistem penerimaan mahasiswa baru ITB melalui jalur fakultas/sekolah (pada tahun pertama) seperti yang Anda alami?, (i) Alasannya?, Apakah Anda saat penjurusan (di tahun kedua) masuk ke Prodi pilihan pertama?, Menurut Anda, apabila di tahun kedua masuk ke Prodi yang bukan pilihan pertama apakah akan mengganggu/menghambat perkuliahan Anda?, (ii) Alasannya?, Menurut Anda, apabila di tahun kedua masuk ke Prodi yang bukan pilihan pertama apakah akan mengganggu/menghambat karir awal Anda?, (iv) Alasannya?, Selama kuliah di ITB, apakah Anda pernah memperoleh beasiswa bidikmisi?, Apakah Anda mendapatkan beasiswa bidikmisi secara penuh?, Digunakan untuk keperluan apa saja beasiswa bidikmisi yang Anda peroleh? (jawaban bisa lebih dari 1) [Biaya hidup sehari-hari (diri pribadi)], Digunakan untuk keperluan apa saja beasiswa bidikmisi yang Anda peroleh? (jawaban bisa lebih dari 1) [Biaya hidup keluarga], Digunakan untuk keperluan apa saja beasiswa bidikmisi yang Anda peroleh? (jawaban bisa lebih dari 1) [Biaya pendidikan], Digunakan untuk keperluan apa saja beasiswa bidikmisi yang Anda peroleh? (jawaban bisa lebih dari 1) [Other (describe)], Apakah beasiswa bidikmisi yang Anda peroleh mencukupi untuk kebutuhan sehari-hari hingga lulus kuliah?, Apakah selama kuliah Anda mencari penghasilan tambahan di luar beasiswa bidikmisi yang diperoleh?, Apa yang Anda lakukan untuk memperoleh penghasilan tambahan tersebut? (jawaban bisa lebih dari 1) [Mengajar/kursus], Apa yang Anda lakukan untuk memperoleh penghasilan tambahan tersebut? (jawaban bisa lebih dari 1) [Jualan], Apa yang Anda lakukan untuk memperoleh penghasilan tambahan tersebut? (jawaban bisa lebih dari 1) [Asisten dosen], Apa yang Anda lakukan untuk memperoleh penghasilan tambahan tersebut? (jawaban bisa lebih dari 1) [Magang], Apa yang Anda lakukan untuk memperoleh penghasilan tambahan tersebut? (jawaban bisa lebih dari 1) [Other (describe)], Apakah setelah Anda lulus kuliah, keluarga (orang tua dan/atau saudara kandung) menjadi tanggungan anda?, Berasal dari mana biaya yang digunakan untuk membiayai keluarga tersebut?, Apakah Anda saat ini kembali ke daerah asal?, Kenapa Anda kembali ke daerah asal?, Kenapa Anda tidak kembali ke daerah asal?, Seberapa besar penekanan pada aspek-aspek pembelajaran di bawah ini dilaksanakan di program studi Anda? [perkuliahan], Seberapa besar penekanan pada aspek-aspek pembelajaran di bawah ini dilaksanakan di program studi Anda? [demonstrasi/peragaan], Seberapa besar penekanan pada aspek-aspek pembelajaran di bawah ini dilaksanakan di program studi Anda? [partisipasi dalam proyek riset], Seberapa besar penekanan pada aspek-aspek pembelajaran di bawah ini dilaksanakan di program studi Anda? [magang], Seberapa besar penekanan pada aspek-aspek pembelajaran di bawah ini dilaksanakan di program studi Anda? [praktikum kerja lapangan], Seberapa besar penekanan pada aspek-aspek pembelajaran di bawah ini dilaksanakan di program studi Anda? [diskusi], Bagaimana penilaian Anda terhadap aspek belajar mengajar di bawah ini? [kesempatan untuk berinteraksi dengan dosen-dosen di luar jadwal kuliah], Bagaimana penilaian Anda terhadap aspek belajar mengajar di bawah ini? [bimbingan akademik], Bagaimana penilaian Anda terhadap aspek belajar mengajar di bawah ini? [kondisi ruang belajar], Bagaimana penilaian Anda terhadap aspek belajar mengajar di bawah ini? [variasi mata kuliah], Bagaimana penilaian Anda terhadap aspek belajar mengajar di bawah ini? [kesempatan untuk memasuki dan menjadi bagian dari jejaring ilmuwan profesional], Bagaimana penilaian Anda terhadap aspek belajar mengajar di bawah ini? [kesempatan beasiswa], Seberapa besar program studi Anda bermanfaat untuk hal-hal di bawah ini? [memulai pekerjaan], Seberapa besar program studi Anda bermanfaat untuk hal-hal di bawah ini? [pembelajaran yang berkelanjutan dalam pekerjaan], Seberapa besar program studi Anda bermanfaat untuk hal-hal di bawah ini? [kinerja dalam menjalankan tugas], Seberapa besar program studi Anda bermanfaat untuk hal-hal di bawah ini? [informasi karir dan peluang kerja], Seberapa besar program studi Anda bermanfaat untuk hal-hal di bawah ini? [pengembangan diri], Seberapa besar program studi Anda bermanfaat untuk hal-hal di bawah ini? [meningkatkan keterampilan kewirausahaan], Dari mana sumber utama biaya kuliah Anda?, Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Himpunan program studi], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Unit kesenian dan kebudayaan], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Unit olahraga dan kesehatan], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Unit keagamaan], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Unit keilmuan], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Unit pendidikan], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Unit media], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Kabinet KM-ITB], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Paguyuban daerah], Selama kuliah, organisasi kemahasiswaan apa saja yang Anda ikuti? (jawaban bisa lebih dari 1) [Other (describe)], Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi), Seberapa aktif Anda di Organisasi tersebut?, Sebutkan jenis kegiatan di organisasi yang aktif diikuti yang membantu mengasah kemampuan/skill Anda!, Apakah Anda lulus tepat waktu?, Apa alasan utama yang menyebabkan Anda tidak lulus tepat waktu?, Pada saat kuliah di perguruan tinggi, apakah Anda mengambil kursus atau pendidikan tambahan?, Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [bimbingan belajar mata kuliah], Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [piranti lunak aplikasi (Autocad, Oracle, SAS, dll)], Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [bahasa inggris], Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [bahasa asing lainnya], Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [kesenian dan/atau keterampilan], Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [olah raga], Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [sertifikasi keahlian bidang keilmuan], Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [ilmu agama], Jenis kursus apa yang Anda ambil? (jawaban bisa lebih dari satu) [Other (describe)], Setelah lulus dari perguruan tinggi, apakah Anda mengambil kursus atau pendidikan tambahan?, Jenis kursus apa yang Anda ambil? [piranti lunak aplikasi (Autocad, Oracle, SAS, dll)], Jenis kursus apa yang Anda ambil? [bahasa inggris], Jenis kursus apa yang Anda ambil? [bahasa asing lainnya], Jenis kursus apa yang Anda ambil? [kesenian dan/atau keterampilan], Jenis kursus apa yang Anda ambil? [olah raga], Jenis kursus apa yang Anda ambil? [sertifikasi keahlian bidang keilmuan], Jenis kursus apa yang Anda ambil? [ilmu agama], Jenis kursus apa yang Anda ambil? [Other (describe)]]
Index: []

[0 rows x 88 columns]

In [77]:
df_2022['Kota'] = df_2022['Kota'].str.lower()
df_2022['Kota'] = df_2022['Kota'].str.replace('kabupaten','')
df_2022['Kota'] = df_2022['Kota'].str.replace('kab','')
df_2022['Kota'] = df_2022['Kota'].str.replace('kota','')
df_2022['Kota'] = df_2022['Kota'].str.replace('dki','')
df_2022['Kota'] = df_2022['Kota'].str.replace('city','')
df_2022['Kota'] = df_2022['Kota'].str.replace('administrasi','')
df_2022['Kota'] = df_2022['Kota'].str.replace('cibinong','')
df_2022['Kota'] = df_2022['Kota'].str.replace('cimahi utara','cimahi')
df_2022['Kota'] = df_2022['Kota'].str.replace('bandung barat','bandung')
df_2022['Kota'] = df_2022['Kota'].str.replace('tangsel','tangerang selatan')
df_2022['Kota'] = df_2022['Kota'].str.replace('tanggerang','tangerang')
df_2022['Kota'] = df_2022['Kota'].str.replace('karanganyar surakarta','surakarta')
df_2022['Kota'] = df_2022['Kota'].str.replace('korea selatan','')
df_2022['Kota'] = df_2022['Kota'].str.replace('netherlands','')
df_2022['Kota'] = df_2022['Kota'].str.replace('bbekasi','bekasi')
df_2022['Kota'] = df_2022['Kota'].str.replace('jaksel','jakarta selatan')
df_2022['Kota'] = df_2022['Kota'].str.replace('lippo','')
df_2022['Kota'] = df_2022['Kota'].str.replace('[^a-zA-Z0-9\s]', '', regex=True)
df_2022['Kota'] = df_2022['Kota'].str.lstrip()
df_2022['Kota'] = df_2022['Kota'].str.rstrip()

In [81]:
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.lower()
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('%','')
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('+','')
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('(','')
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace(')','')
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('orang tua dan biaya sendiri','biaya sendiri')
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('gabungan orang tua dan diri sendiri','biaya sendiri')
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('beasiswa dan orang tua','sebagian beasiswa')
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('subsidi ukt 0','beasiswa')
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('kerja','biaya sendiri')
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('orang tua, sempat mendapat beasiswa selama 1 tahun','sebagian beasiswa')
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('orangtua dan tahun akhir mendapat beasiswa','sebagian beasiswa')
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('sebagian beasiswa, orang tua, dan biaya pribadi.','sebagian beasiswa')
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('research/teaching assistantship','biaya sendiri')
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('-','orang tua/keluarga')
df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('orang tua dan beasiswa','sebagian beasiswa')
df_2022['Dari mana sumber utama biaya kuliah Anda?'].fillna('orang tua/keluarga', inplace=True)

/tmp/ipykernel_23419/2117072624.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('+','')
/tmp/ipykernel_23419/2117072624.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('(','')
/tmp/ipykernel_23419/2117072624.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace(')','')
/tmp/ipykernel_23419/2117072624.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  df_2022['Dari mana sumber utama biaya kuliah Anda?'] = df_2022['Dari mana sumber utama biaya kuliah Anda?'].str.replace('sebagian beasiswa, orang tua, dan biaya pribadi.','sebagian beasiswa')

In [82]:
unique_value_2015 = df_2022['Dari mana sumber utama biaya kuliah Anda?'].unique()
print('Dari mana sumber utama biaya kuliah Anda?', " =", unique_value_2015)
print("Jumlah", 'Dari mana sumber utama biaya kuliah Anda?',  " =", len(unique_value_2015))
null_value_2015 = df_2022['Dari mana sumber utama biaya kuliah Anda?'].isna().sum()
print("Jumlah", 'Dari mana sumber utama biaya kuliah Anda?', "isna =", null_value_2015)

Dari mana sumber utama biaya kuliah Anda?  = ['orang tua/keluarga' 'beasiswa' 'sebagian beasiswa' 'biaya sendiri']
Jumlah Dari mana sumber utama biaya kuliah Anda?  = 4
Jumlah Dari mana sumber utama biaya kuliah Anda? isna = 0

In [83]:
org_unique_value_2015 = df_2022['Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)'].unique()
print('Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)', " =", org_unique_value_2015)
print("Jumlah", 'Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)',  " =", len(org_unique_value_2015))
org_null_value_2015 = df_2022['Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)'].isna().sum()
print("Jumlah", 'Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)', "isna =", org_null_value_2015)

Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)  = ['Himpunan Prodj' 'Himpunan Mahasiswa Informatika'
 'Himpunan Mahasiswa Informatika (HMIF)' ...
 'Ikatan Mahasiswa Kewirausahaan (IMK) Artha' 'Himabio Nymphaea ITB'
 'Asrama Salman ITB, PSTK ITB']
Jumlah Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi)  = 1407
Jumlah Organisasi apa yang paling aktif Anda ikuti selama menjalani perkuliahan? (nama organisasi) isna = 0

In [ ]:
file_path_2022 = "cleaned_data_2022.xlsx"
df_2022.to_excel(file_path_2022, index=False)